.course-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.course-card-wrapper {
	display:flex;
	flex-direction: column;

	width: 20rem;
	height: auto;
	margin: 1rem;
}

.course-card {
	height: 100%;
	cursor: pointer;
	background-color: var(--c-bg-overlay);
	transition: 0.5s;
}

.course-card-content {
	height: 4.5rem;
	padding:0.1rem;
	transition: 1s;
}

.course-card-content h1, .course-card-content h2, .course-card-content h3, .course-card-content h4, .course-card-content h5, .course-card-content h6 {
	margin-top: 0.5rem;
}

.course-card-title {
	opacity: 1;
	height:100%;
	transition: 0.25s;
	overflow: hidden;
}

.course-card-subtitle {
	padding-top:0.2rem;
	display:none;
	opacity: 0;
	transition: 0.25s;
	height:100%;
}

.course-card:hover .course-card-title {
	height:0;
	margin:0;
	padding:0;
	opacity:0;
}

.course-card:hover .course-card-subtitle {
	display:block;
	opacity:1;
}

.course-card-img {
	background-position: 50% 40%;
    background-size: 130%;
	
	height:100%;
	width:20rem;
	transition: 1s;
}

.course-card-img-wrapper {
	background-color: black;
	overflow: hidden;
	height:12rem;
	width:20rem;
	transition: 1s;
}

.course-card:hover .course-card-img {
	filter:blur(0rem);

	background-position: 50% 0%;
    background-size: 110%;
}

/* make image larger */
.course-card:hover .course-card-img-wrapper {
	height:14rem;
}

/* make content smaller */
.course-card:hover .course-card-content {
	height:2.5rem;
}

.course-card-temp {
	width: 12rem;
	height: 12rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--c-bg-overlay);
	margin: 1rem;

	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-name: animatecards;
	animation-direction: alternate;
	background-image: linear-gradient(rgb(255, 255, 255), hsl(0, 0, 80%));
}

@keyframes animatecards {
	0% {
		background-image: linear-gradient(rgb(255, 255, 255), hsl(0, 0, 80%));
	}
	
	100% {
		background-image: linear-gradient(hsl(0, 0%, 80%), hsl(0, 0%, 100%));
	}
}