/* top nav bar */
.course-top-nav-fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 0.08rem solid var(--c-light);
	border-top: none;
}

/* contents menu */
.course-menu-normal {
	position: fixed;
	
	overflow: scroll;

	right: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
}

.course-menu-fixed {
	position: fixed;

	top: 59.3984375px !important;
	right: 0;
	left: 0;
	bottom: 0;

	display: block;
	overflow: scroll;

	z-index: 3;
}

.course-menu-hide {
	display: block;
}

/* posts tab */
.post-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.post-card {
	width: 10rem;
	min-width: 10rem;
	height: auto;
	padding-top: 0.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--c-bg-overlay);
	margin: 1rem;
	border: 0.08rem solid var(--c-light);
	color: var(--c-text);
	cursor: pointer;
}

.post-card:hover {
	background-color: var(--c-light);
}

/* course lecture styling */
[markdown] > pre > code > span {
	font-family: 'Red Hat Mono', monospace !important;
}

[markdown] > pre > code > span > span {
	font-family: 'Red Hat Mono', monospace !important;
}

[markdown] > pre > code > span > span > span {
	font-family: 'Red Hat Mono', monospace !important;
}

[markdown] > pre > code > span > span > span > span {
	font-family: 'Red Hat Mono', monospace !important;
}

[markdown] > pre {
	padding: 0.5rem;
	color: var(--c-white);
	background-color: var(--c-black) !important;
	font-family: 'Red Hat Mono', monospace !important;
	overflow-x: scroll;
	border-radius: 0.5rem;
	display: block;
}

[markdown] > pre > code {
	width: max-content;
	display: block !important;
	padding-right: 1rem !important;
	font-family: 'Red Hat Mono', monospace !important;
}

[markdown] > pre > * {
	color: var(--c-white);
	font-family: 'Red Hat Mono', monospace !important;
}

[markdown] > p > code {
	color: var(--c-code);
	font-family: 'Red Hat Mono', monospace !important;
}

[markdown] > p {
	width: 100%;
	word-wrap: break-word;
}

[markdown] img {
	max-width: 100%;
	display: table;
	border-radius: 0.5rem;
}

[markdown] iframe {
	display: table;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	border-radius: 0.5rem;
}

/* when screen width is larger than 900px */
@media only screen and (min-width:900px) {
	[markdown] img {
		max-width: 65%;
	}

	[markdown] iframe {
		width: 65%;
	}
}

[markdown] h1, [markdown] h2, [markdown] h3, [markdown] h4, [markdown] h5, [markdown] h6 {
	color: var(--c-bold);
}

/* highlights selected section in menu */
.selected {
	border: 0.08rem solid var(--c-light);
	color: var(--c-text);
}

@media (prefers-color-scheme: dark) {
	.selected {
		color: var(--c-text);
	}
}