.course-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.course-card-wrapper {
	display:flex;
	flex-direction: column;

	width: 20rem;
	height: auto;
	margin: 1rem;
}

.course-card {
	height: 100%;
	cursor: pointer;
	background-color: var(--c-bg-overlay);
	transition: 0.5s;
}

.course-card-content {
	height: 4rem;
}

.course-card:hover .course-card-content {
	height:20%;
	opacity:0;
}

.course-card-img {
	background-position: center center;
    background-size: 210%;
	opacity: 0.5;
	height:100%;
	width:20rem;;
}

.course-card-img-wrapper {
	background-color: black;
	overflow: hidden;
	height:12rem;
	width:20rem;;
}

.course-card:hover .course-card-img {
	filter:blur(0rem);
    background-size: 250%;
	opacity: 1;
}

.course-card:hover .course-card-img-wrapper {
	height:80%;
}

.course-card-temp {
	width: 12rem;
	height: 12rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--c-bg-overlay);
	margin: 1rem;

	animation-iteration-count: infinite;
	animation-duration: 0.5s;
	animation-name: animatecards;
	animation-direction: alternate;
	background-image: linear-gradient(rgb(255, 255, 255), hsl(0, 0, 80%));
}

@keyframes h {
	0% {
		background-image: linear-gradient(rgb(255, 255, 255), hsl(0, 0, 80%));
	}
	
	100% {
		background-image: linear-gradient(hsl(0, 0%, 80%), hsl(0, 0%, 100%));
	}
}