/* top nav bar */
.course-top-nav-fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 0.08rem solid var(--c-light);
	border-top: none;
}

/* contents menu */
.course-menu-normal {
	position: fixed;
	
	overflow: scroll;

	right: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
}

.course-menu-fixed {
	position: fixed;

	top: 59.3984375px !important;
	right: 0;
	left: 0;
	bottom: 0;

	display: block;
	overflow: scroll;

	z-index: 3;
}

.course-menu-hide {
	display: block;
}

/* posts tab */
.post-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-x: scroll;
}

.post-card {
	display: flex;
	flex-direction: column;
	width: 10rem;
	min-width: 10rem;
	height: 11rem;
	border-radius: 0.5rem;
	background-color: var(--c-bg-overlay);
	margin: 1rem;
	border: 0.08rem solid var(--c-light);
	color: var(--c-text);
	cursor: pointer;
}

.post-card:hover {
	background-color: var(--c-light);
}

/* highlights selected section in menu */
.selected {
	border: 0.08rem solid var(--c-light);
	color: var(--c-text);
}

@media (prefers-color-scheme: dark) {
	.selected {
		color: var(--c-text);
	}
}