* {
	font-family: sans-serif;
}

/* solve weird padding and width problems on input elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: auto;
}

[href] {
	cursor: pointer;
}

[x-cloak] {
	display: none !important;
}