* {
	font-family: sans-serif;
}

/* solve weird padding and width problems on input elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input, textarea {
	color: var(--c-text);
	background-color: var(--c-bg-overlay);
}

body, html {
	padding: 0;
	margin: 0;
	height: auto;
}

[href] {
	cursor: pointer;
}

[x-cloak] {
	display: none !important;
}

label {
	display: block;
	margin-left: 0.1rem;
	margin-bottom: 0.2rem;
	margin-top: 1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--c-text);
	opacity: 0.8; /* Firefox */
}