.theme {
	--c-black: rgb(0, 0, 0);
	--c-bg-overlay: rgb(255, 255, 255);
	--c-white: rgb(255, 255, 255);
	--c-light: rgb(212, 212, 212);
	--c-grey: rgb(126, 126, 126);
	--c-bg: rgb(229, 229, 229);
	--c-text: rgb(34, 34, 34);
	--c-bold: rgb(0, 0, 0); /* for text that needs to stand out */
	--c-code: rgb(255, 33, 133);
	--c-code-darker: rgb(227, 0, 102);
	--c-shadow: rgb(198, 198, 198);
}

.nav-logo {
	margin-top:0.8rem;
	content:url('/resources/images/sparker_code_black_transp.png');
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	.theme {
		--c-black: rgb(0, 0, 0);
		--c-bg-overlay: rgb(44, 46, 51);
		--c-light: rgb(66, 66, 66);
		--c-grey: rgb(109, 111, 119);
		--c-bg: rgb(20, 20, 20);
		--c-text: rgb(228, 228, 228);
		--c-bold: rgb(255, 255, 255); /* for text that needs to stand out */
		--c-shadow: rgb(0, 0, 0);

		--c-code: hsl(206, 100%, 56%);
		--c-code-darker: hsl(206, 100%, 45%);
	}

	a {
		color: rgb(113, 208, 255);
	}

	.nav-logo {
		content:url('/resources/images/sparker_code_transp.png');
	}
}

/* manually set to dark mode */
.theme-dark {
	--c-black: rgb(0, 0, 0);
	--c-bg-overlay: rgb(44, 46, 51);
	--c-light: rgb(129, 38, 58); /* rgb(66, 66, 66); */
	--c-grey: rgb(109, 111, 119);
	--c-bg: rgb(20, 20, 20);
	--c-text: rgb(228, 228, 228);
	--c-bold: rgb(255, 255, 255); /* for text that needs to stand out */
	--c-shadow: rgb(0, 0, 0);

	--c-code: rgb(255, 0, 55); /* hsl(206, 100%, 56%); */
	--c-code-darker: rgb(229, 10, 58);;
}

.theme-dark a {
	color: rgb(255, 0, 55);
}

.theme-dark .nav-logo {
	content:url('/resources/images/sparker_code_transp.png');
}