{{ template "_header.html" . }}

{{ template "_onboard.html" . }}

<link href="/resources2/css/cards.css" rel="stylesheet">

<!-- top nav bar -->
<div style="height:2.5rem; position:fixed; top:0; bottom:0; left:0; right:0; z-index:2; background-color:var(--thm-bg-a); backdrop-filter: blur(10px);">
    <img class="align-center-horizontal" style="height:2.5rem; padding:0.5rem;" src="/resources2/images/sparker_code_transp_large.png">

    <div x-data @click="onboard_open()" style="position:fixed; top:0; right:0; height:2rem; width:100%; text-align: end;">
        {{ if .LoggedIn }}
            <a href="/logout" style="text-decoration:none; font-weight:600;">
                LOGOUT <i style="padding:0.5rem; font-size:1.25rem; padding-right:1rem;" class="fa-solid fa-right-from-bracket"></i>
            </a>
        {{ else }}
            <i style="padding:0.5rem; font-size:1.25rem; padding-right:1rem;" class="fa-solid fa-circle-user"></i>
        {{ end }}
    </div>
</div>

<div class="align-center-horizontal" style="width:100vw;">
    <!-- title and gradient -->
    <div style="padding-left:1rem; padding-right:1rem; height:100vh; min-height:840px; padding-top:2rem; background:linear-gradient(black, var(--thm-hl));">
        <div style="text-align:center; max-width:100%; padding-top:1rem;">
            {{ if .LoggedIn }}
                <!-- title -->
                <h2 style="font-size:2.5rem;">Welcome! {{ .User.Name }}!</h2>
                <p>@{{ .User.Username }}</p>

                <a href="/settings">
                    <i style="padding:0.5rem; font-size:1.25rem; padding-right:1rem;" class="fa-solid fa-gear"></i>
                </a>
            {{ else }}
                <!-- title -->
                <h2 style="font-size:3rem;">Sparker</h2>
                <h3>learn coding to build ideas</h3>
            {{ end }}
            <!-- advertising most relevent clickable thing the user will want -->
            <!-- allow for advertising links with specific thing in this box -->
            <div class="utls-bd align-center-horizontal" style="
            max-width:100%; width:30rem; height:20rem; background-color:var(--thm-overlay); display:flex; flex-direction: column; margin-top:5rem;
            background-image:url('/media/8/name/terrain_generator_beach.png'); background-size:cover;">
                <div style="height:100%; background:linear-gradient(rgba(0,0,0,0), black); display:flex; flex-direction:column;">
                    <div style="margin-top:auto; font-size:1.5rem; font-weight:600; text-align: left; padding-left:1rem; padding-right:1rem;">Making Minecraft in Unity</div>
                    <div style="margin-right:auto; padding:1rem;">by paper</div>
                </div>
                <div style="margin-top:auto; padding:1rem; background-color:var(--thm-hl); border-bottom-left-radius:0.25rem; border-bottom-right-radius:0.25rem; font-size:2rem;">
                    start
                </div>
            </div>

            <!-- bottom message and scroll button -->
            <div style="padding-top:calc(900px - 50rem);">
                <p>more courses</p>
            </div>
            <div style="margin-top:0.5rem; padding-bottom:1rem;">
                <i x-data @click="browse_scrollDown()" style="/* border-radius:100%; padding:1rem; background-color: var(--thm-hl); box-shadow:0 0 1rem var(--thm-overlay); */" class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </div>
</div>

<div style="background-color:var(--thm-bg);">
    <div style="text-align:center; width:100%; padding-top:5rem; padding-bottom:1rem;">
        <h1 style="font-size:2.5rem;">All Courses</h1>
    </div>

    <!-- search bar
    <div style="padding:1rem; margin-bottom:5rem; display:flex;">
        <input placeholder="search..." style="border-bottom-left-radius:0.25rem; border-top-left-radius:0.25rem;">
        <button style="padding-right:1rem; padding-left:1rem; border-bottom-right-radius: 0.25rem; border-top-right-radius: 0.25rem;">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    -->

    <!-- courses -->
    <div class="cards">
        {{ range .Courses }}
            <div class="card" style="background-image:url('{{ .Release.ImageURL }}');">
                <div class="card-content">
                    <div style="margin-top:auto; font-size:2rem; font-weight:600;">{{ .Title }}</div>
                    <div style="display:flex; flex-direction:row;">
                        <div style="font-weight:500; padding-top:0.5rem;">by {{ .User.Username }}</div>
                        <a 
                        style="margin-left:auto; padding:0.5rem; color:var(--thm-hl); font-weight:500;"
                        href="/{{ .User.Username }}/{{ .Name }}">
                            learn more
                            <i style="color:var(--thm-hl);" class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>

<div style="height:30rem; text-align:center; padding-top:10rem; font-size:1rem; font-weight:500; background:linear-gradient(var(--thm-bg), var(--thm-hl));">
    © 2022 Spark3D
</div>

{{ template "_footer.html" . }}