{{ template "_header.html" . }}

{{ template "_onboard.html" . }}

<div hidden id="courseID">{{ .Course.ID }}</div>
<div hidden id="releaseID">{{ .Course.Release.ID }}</div>
<div hidden id="userID">{{ .User.ID }}</div>

<script defer>
    document.addEventListener("alpine:init", function(event) {
        Alpine.store("course", {
            name: {{ .Course.Name }},
            username: {{ .Course.User.Username }},
            title: {{ .Course.Title }},
            courseID: {{ .Course.ID }}, 
            releaseID: {{ .Course.Release.ID }},
            sectionID: {{ .Section.ID }},
            displayName: "",
            releases: [],
            release: {
                Num: {{ .Course.Release.Num }},
            },
            menuOpen: true,

            // if section ID was provided
            {{ if eq .Section.ID 0 }}
            view: "home", // "home" view, "channel" view, "section" view (posts?)
            active: "home", // active menu item
            {{ else }} 
            view: "section", // "home" view, "channel" view, "section" view (posts?)
            active: "section{{ .Section.ID }}", // active menu item
            {{ end }}

            sections: [],
            sectionHTML: "",

            resources: [],

            // next section button
            previous: false,
            next: false,

            // for loading spinny thing when user click to load the next section
            loadingSection: false,
        });

        course_loadReleases();
    });
</script>
<script src="/resources2/scripts/course.js" defer></script>

<link href="/resources2/css/course.css" rel="stylesheet">
<link href="/resources2/css/markdown2.css" rel="stylesheet">

<!-- top menu -->
<div 
x-data
:class="$store.course.menuOpen ? '' : '' "
style="height:2.5rem; position:fixed; top:0; bottom:0; left:0; right:0; z-index:3; background-color:var(--thm-bg); backdrop-filter: blur(10px);">
    <div x-data style="position:fixed; top:0; right:0; height:2.5rem; width:100%; display:flex;">
        <i style="margin-right:auto; padding:0.6rem; padding-left:1rem; padding-right:1rem; font-size:1.25rem; color:var(--thm-text-less);"
        class="thm-bg-hl fa-solid fa-equals"
        @click="course_openMenu()">
        </i>

        <div style="font-weight:500; font-size:16px; padding-top:0.5rem; display:flex">
            <div x-show="$store.course.displayName !== ''" style="display:flex; flex-direction:row; margin-left:0.5rem; margin-right:2rem;">
                <span x-text="$store.course.displayName" style="margin-left:0.5rem;" class="thm-c-less"></span>
            </div>
        </div>

        <a href="/" style="margin-left:auto; margin-right:0.5rem;">
            <img style="height:2.5rem; padding:0.5rem;" src="/resources2/images/sparker_code_transp_large.png">
        </a>
    </div>
</div>

<!-- side menu -->
<div
x-data
class="course-menu"
x-show="$store.course.menuOpen" 
style="position:fixed; top:0; left:0; bottom:0; z-index:3;">
    <div style="width:100%; height:100vh; display:flex; flex-direction: column; padding:0.5rem; overflow-y:scroll; background-color: var(--thm-bg); box-shadow:0 0 1rem black;"
    @click.outside="course_closeMenu()">
    
        <!-- top -->
        <div style="display:flex; flex-direction:row; margin-bottom:0.5rem;">
            <a href="/" style="color:var(--thm-text-less); padding:0.5rem; text-decoration:none; cursor:default; --utls-hover:var(--thm-over-hover);" class="utls-hover utls-bd">
                <i class="fa-solid fa-angle-left" style="padding-right:0.25rem; color:var(--thm-text-less)"></i>
                browse
            </a>

            <div x-data="{ open: false }" @click="open = true" style="margin-left:auto; padding:0.5rem; text-decoration:none; cursor:default; --utls-hover:var(--thm-over-hover);" class="utls-hover utls-bd utls-tip">

                <div>
                    <span x-show="$store.course.releases.length != 0" style="font-weight:500; color:var(--thm-text-less);" x-text="'Edition ' + $store.course.release.Num"></span> 
                    <i class="fa-solid fa-angle-down" style="color:var(--thm-text-less); padding-left:0.25rem; padding-right:0.25rem;"></i>    
                </div>

                <!-- menu dropdown -->
                <div @click.outside="open = false" x-show="open == true" class="utls-tiptext utls-tiptext-align-right utls-shadow" style="--utls-shadow:var(--thm-bg); --utls-tip-bg:var(--thm-over-hover);">
                    
                    <!-- for course author only -->
                    {{ if eq .User.ID .Course.User.ID }}
                        <!-- settings -->
                        <div @click="settings_open()" class="utls-bd" style="padding:0.5rem; background-color:var(--thm-hl);">
                            <i class="fa-solid fa-gear"></i> Settings
                        </div>

                        <div @click="settings_releasesNewCreate()" class="utls-bd" style="margin-top:0.5rem; margin-bottom:0.5rem; padding:0.5rem; background-color:var(--thm-hl);">
                            New Release
                        </div>

                        <div class="utls-bd" style="margin-bottom:0.5rem; margin-left:0.1rem; margin-right:0.1rem; height:0.15rem; background-color:var(--thm-over-selected);">
                        </div>
                    {{ end }}

                    <!-- editions -->
                    <template x-for="release in $store.course.releases">
                        <div style="display:flex; flex-direction:row;">
                            <div @click="course_loadReleaseSections(release.ID); course_loadReleaseResources(release.ID);" 
                            :class="$store.course.releaseID == release.ID ? 'utls-selected' : '' " class="utls-bd utls-hover" 
                            style="width:100%; margin-bottom:0.5rem; padding:0.5rem; --utls-hover:var(--thm-over-selected);" 
                            x-text="'Edition ' + release.Num">
                            </div>

                            <!-- for course author only -->
                            {{ if eq .User.ID .Course.User.ID }}
                                <i @click="settings_releasesLoad(release.ID);" style="padding:0.5rem; --utls-hover:var(--thm-over-selected); margin-bottom:0.5rem; margin-left:0.5rem;" class="utls-hover fa-solid fa-gear utls-bd"></i>
                            {{ end }}
                        </div>
                    </template>

                    <div style="color:rgb(125, 125, 125); font-size:16px;" x-show="$store.course.releases.length == 0">
                        this course has no editions
                    </div>

                    <div style="color:rgb(125, 125, 125); font-size:16px;" x-show="$store.course.releases.length == 1">
                        only 1 edition
                    </div>
                </div>
            </div>
        </div>

        <div style="margin:0.5rem; margin-bottom:1.5rem; font-size:1.5rem; font-weight:600;">{{ .Course.Title }}</div>

        <!-- home -->
        <div :class="$store.course.active === 'home' ? 'course-menu-item-selected' : 'course-menu-item' " 
        @click="course_viewHome()" 
        style="display:flex; flex-direction:row; padding:0.5rem;" 
        class="utls-bd">
            <i class="fa-solid fa-house" style="padding-right:0.5rem;"></i> Home
        </div>

        <!-- sections -->
        <div class="thm-c-less" style="font-weight:500; font-size:0.8rem; display:flex; flex-direction:row; padding-right:0.5rem;">
            <i class="fa-solid fa-sort-down thm-c-less" style="padding:0.25rem; padding-top:0.5rem;"></i>
            <div style="padding:0.25rem; padding-top:0.5rem;" class="thm-c-less">
                SECTIONS
            </div>

            <!-- for course author only -->
            {{ if eq .User.ID .Course.User.ID }}
                <i @click="settings_sectionsNewOpen()" style="margin-left:auto; padding:0.5rem; --utls-hover:var(--thm-over-hover);" class="thm-c-less fa-solid fa-plus utls-hover utls-bd"></i>
            {{ end }}
        </div>
        <template x-for="section in $store.course.sections" :key="section.ID">
            <div @click="course_viewSection(section.ID, section.Name); course_loadSection(section.ID, section.Name);" style="display:flex; flex-direction:row;" class="utls-bd utls-tip">
                <div style="width:100%; display:flex; flex-direction:row;" class="utls-bd" :class="$store.course.active === 'section' + section.ID ? 'course-menu-item-selected' : 'course-menu-item' ">
                    <div x-text="section.Name"></div>
                    {{ if .Owned }}
                    <i style="margin-left:auto;" :class="section.Free ? '' : 'fa-lock-open' " class="fa-solid"></i>
                    {{ else }}
                    <i style="margin-left:auto;" :class="section.Free ? '' : 'fa-lock' " class="fa-solid"></i>
                    {{ end }}
                </div>

                <!-- if they are the author then they can access settings -->
                {{ if eq $.User.ID $.Course.User.ID }}
                    <i style="margin-left:auto; padding:0.5rem;" class="fa-solid fa-gear course-menu-item utls-bd" @click="settings_sectionsOpen(); settings_sectionsLoad(section.ID);"></i>
                {{ end }}
                <span x-show="section.Description !== '' " class="utls-tiptext utls-tiptext-bot-left utls-shadow" style="--utls-shadow:var(--thm-bg); --utls-tip-bg:var(--thm-hl);" x-text="section.Description"></span>
            </div>
        </template>

        <!-- resources -->
        <div>
            <div class="thm-c-less" style="font-weight:500; font-size:0.8rem;">
                <i class="fa-solid fa-sort-down thm-c-less" style="padding:0.25rem; margin-top:0.5rem;"></i>
                RESOURCES
            </div>
            <div>
                <template x-for="resource in $store.course.resources">
                    <a download x-bind:href="'/v2/releases/' + $store.course.releaseID + '/resources/' + resource.path" style="display:flex; flex-direction:row; padding:0.5rem; margin-left:0.5rem; margin-right:0.5rem;" class="utls-bd utls-tip">
                        <div style="width:100%; display:flex; flex-direction:row;" class="utls-bd">
                            <div x-text="resource.path"></div>
                        </div>
                    </a>
                </template>
            </div>
        </div>
    
        <div style="margin-top:2rem;">
            <a href="https://discord.gg/QhqTE4t2tR" target="_blank" style="text-decoration:none;" class="utls-bd" :class="$store.course.active === 'channel' ? 'course-menu-item-selected' : 'course-menu-item' ">
                <i class="fa-brands fa-discord"></i> Join Sparker's discord server!
            </a>
        </div>
        <div style="margin-bottom:auto;"></div>
    </div>    
</div>

<!-- views -->
{{ template "course_section.html" . }}

{{ template "course_home.html" . }}

<!-- settings pages
    only show if the user is the author -->
{{ if eq .User.ID .Course.User.ID }}

    <!-- main settings -->
    {{ template "course_settings.html" . }}
    
    <!-- release settings -->
    {{ template "course_settings_releases.html" . }}

    <!-- section settings -->
    {{ template "course_settings_sections.html" . }}

    <!-- TODO channel settings -->
{{ end }}

<div style="height:30; background-color:black; padding:1rem;">
    <a href="/" style="text-decoration:none;">
        <div style="display:flex; padding:1rem; width:fit-content;">
            <img src="/resources2/images/sparker_code_transp_large.png" style="height:1.8rem;"> 
            <div style="display:inline-block; padding-left:1rem; margin-top:0rem; font-size:1.5rem; font-weight:500;">
                Sparker
            </div>
        </div>
    </a>
    <div style="padding:1rem; max-width:800px;">It's not just courses, it's a learning experience. 
        We want to solve online learnings biggest problems, with ridiculously simple solutions.
    </div>
    <div style="padding:1rem; display:flex; flex-direction:row; font-size: 1.8rem;">
        <a href="https://discord.gg/QhqTE4t2tR">
            <i class="fa-brands fa-discord"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCbpsB-qXDo3T36_wsrzaPDQ">
            <i style="padding-left:1rem;" class="fa-brands fa-youtube"></i>
        </a>
    </div>
</div>

{{ template "_footer.html" . }}