<div x-data x-show="$store.course.view === 'home'" style="overflow-y: scroll; max-width:100vw; min-height:100vh; overflow-x:hidden; background-color:var(--thm-bg); padding-bottom:2rem;">
    <div class="align-center-horizontal" style="width:800px; max-width:100vw;">
        <div>
            <!-- TODO fancy faded image and course title / purchase info / user progress -->
        </div>

        <div markdown2 style="padding-top:2rem; padding-bottom:2rem;">
            {{ .CourseMarkdownHTML }}

            <!-- no markdown for course landing page -->
            {{ if eq .CourseMarkdownHTML "" }}
                {{ if eq .Course.User.ID .User.ID }}
                    <p>No landing page markdown! Open <span x-data @click="settings_open()" style="text-decoration:underline; cursor:pointer;">course settings</span> and provide a landing page funnel for your course!</p>
                {{ end }}
            {{ end }}
        </div>

        <div>
            <!-- TODO prerequisite courses -->
        </div>

        <div @click="course_startCourse()" style="font-weight:600; background-color:var(--thm-hl); width:100%; text-align:center; padding:0.5rem; margin-top:2rem; --utls-hover:var(--thm-hl-a); cursor:pointer;" class="utls-bd utls-hover">
            COURSE <i class="fa-solid fa-right-long"></i>
        </div>
    </div>
</div>