{{ template "course_settings_popups.html" . }}

<script>
    document.addEventListener("alpine:init", function(event) {
        Alpine.store("settings", {
            open: false,
            view: "main", // "main", "releases"
        })
    });

    function settings_viewMain() {
        Alpine.store("settings").view = "main";
    }

    function settings_viewReleases() {
        Alpine.store("settings").view = "releases";
    }

    function settings_open() {
        Alpine.store("settings").open = true;
    }

    function settings_close() {
        Alpine.store("settings").open = false;
    }
</script>

<style>
.settings-selected {
    color: white;
    text-decoration: underline;
}

.settings-unselected {
    color: var(--thm-text-less);
}

.settings-text-hover:hover {
    color: white;
    cursor:default;
}
</style>

<div x-data x-show="$store.settings.open === true" class="thm-overlay" style=" z-index:4; position:fixed; top:0; left:0; right:0; bottom:0; padding:1rem;">

    <div style="display:flex; flex-direction:row;">
        <i style="margin-left:auto; padding:1rem;" @click="settings_close()" class="fa-solid fa-xmark"></i>
    </div>

    <div style="display:flex; overflow-x:scroll; flex-direction:row;">
        <h2 @click="settings_viewMain()" style="padding-right:2rem;" :class="$store.settings.view === 'main' ? 'settings-selected' : 'settings-unselected' ">MAIN</h2>
        <h2 @click="settings_viewReleases()" :class="$store.settings.view === 'releases' ? 'settings-selected' : 'settings-unselected' ">RELEASES</h2>
    </div>

    <!-- main settings -->
    <div x-show="$store.settings.view === 'main'">
        <form>
            <div>
                <div class="thm-c-less" style="font-weight:600; font-size:0.8rem; padding-bottom:0.5rem;">COURSE TITLE</div>
                <input value="{{ .Course.Title }}" class="utls-bd thm-bg" placeholder="Title" style="font-size:2rem; color:white;"></input>
            </div>
            
            <div style="margin-top:2rem;">
                <div class="thm-c-less" style="font-weight:600; font-size:0.8rem; padding-bottom:0.5rem;">COURSE DESCRIPTION</div>
                <textarea class="thm-bg utls-bd utls-bd-none" placeholder="Tell people what your course is about" style="color:white; max-width:100%; min-width:100%; padding:0.5rem; max-height:5rem; min-height:5rem;">{{ .Course.Subtitle }}</textarea>
            </div>
            
            <div style="margin-top:2rem;">
                <div class="thm-c-less" style="font-weight:600; font-size:0.8rem; padding-bottom:0.5rem;">PUBLIC</div>
                <div style="margin-bottom: 2rem;">
                    {{ if .Course.Public }}
                    <input
                    class="utls-bd-none" 
                    type="checkbox"
                    name="public"
                    style="height:16px; width:16px;"
                    value="public" checked>
                    {{ else }}
                    <input 
                    class="utls-bd-none" 
                    type="checkbox" 
                    name="public" 
                    style="height:16px; width:16px;"
                    value="public"></input>
                    {{ end }}
                </div>
            </div>
            <div>
                <button  class="utls-bd thm-bg-hl" style="color:white; width:100%; padding:1rem; text-align: center; font-weight:500;" type="submit">save</button>
            </div>
        </form>
    </div>

    <!-- release settings -->
    <div x-show="$store.settings.view === 'releases'">
        {{ range .Releases }}
            <div class="utls-bd" style="margin-bottom:2rem; background-color:var(--thm-over-hover); padding:1rem;">
                <h2>V{{ .Num }}</h2>
                <form>
                    <div>
                        <div class="thm-c-less" style="font-weight:600; font-size:0.8rem; padding-bottom:0.5rem;">PRICE USD</div>
                        <input class="utls-bd thm-bg" type="number" style="font-size:16px; color:white;" min="0" value="{{ .GetPriceUSD }}"></input>
                    </div>
                    <div style="margin-top:2rem;">
                        <div class="thm-c-less" style="font-weight:600; font-size:0.8rem; padding-bottom:0.5rem;">PUBLIC</div>
                        <div style="margin-bottom: 2rem;">
                            {{ if .Public }}
                            <input
                            class="utls-bd-none" 
                            type="checkbox"
                            name="public"
                            style="height:16px; width:16px;"
                            value="public" checked>
                            {{ else }}
                            <input
                            class="utls-bd-none" 
                            type="checkbox" 
                            name="public" 
                            style="height:16px; width:16px;"
                            value="public"></input>
                            {{ end }}
                        </div>
                    </div>
                </form>
                <div @click.once="popups_popupGithubRelease()" @click="$store.popups.popup = 'github_release' " class="thm-c-less settings-text-hover" style="font-weight:600; font-size:0.8rem; margin-top:2rem;">
                    CONNECT TO GITHUB REPOSITORY
                </div>
                <p style="color:rgb(126, 127, 129)">courses are currently hosted through github</p>
            </div>
        {{ end }}
        <div x-data="{ open: false }">
            <div @click="open = ! open" class="utls-bd thm-bg-hl" style="width:100%; padding:1rem; text-align: center;">
                <span style="padding-left:0.5rem; font-weight:500; padding-bottom:1rem;">new release</span>
            </div>
            <div x-show="open" class="utls-bd" style="background-color:var(--thm-over-hover); padding:1rem;">
                <form>
                    <div>
                        <div class="thm-c-less" style="font-weight:600; font-size:0.8rem; padding-bottom:0.5rem;">PRICE USD</div>
                        <input class="utls-bd thm-bg" type="number" style="font-size:16px; color:white;" min="0" value="0"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>