<div x-data x-show="$store.course.view === 'home'" style="overflow-y: scroll; max-width:100vw; min-height:100vh; overflow-x:hidden; padding-bottom:2rem;">

    <!-- fancy top image and title -->
    <div style="height:100%; max-width:100%; background: linear-gradient(var(--thm-bg), rgba(0,0,0,0));">

        <div class="align-center-horizontal" style="width:800px; max-width:100vw; padding-top:2rem; text-align:center;">
            <h1 style="padding-left:1rem; padding-right:1rem;">{{ .Course.Title }}</h1>
            <div style="padding-left:1rem; padding-right:1rem; text-decoration:underline; padding-bottom:2rem;">sparker3d.com/paper/{{ .Course.Name }}</div>

            {{ if .Course.Release.ImageURL }}
                <div style="margin-bottom:2rem; height:30rem; max-width:100%; background-image:url('{{ .Course.Release.ImageURL }}'); background-position:center; background-size:cover;"></div>
            {{ end }}


            {{ if .Course.ImageURL }}
                <div style="margin-bottom:2rem; height:30rem; max-width:100%; background-image:url('{{ .Course.ImageURL }}'); background-position:center; background-size:cover;"></div>
            {{ end }}

            <!-- TODO fancy faded image and course title / purchase info / user progress -->
        </div>
    </div>

    <div style="background-color:var(--thm-bg); padding-bottom:2rem;">
        <div class="align-center-horizontal" style="width:800px; max-width:100vw;">
            <div markdown2 style="padding-top:2rem; padding-bottom:2rem;">
                {{ .CourseMarkdownHTML }}
    
                <!-- no markdown for course landing page -->
                {{ if eq .CourseMarkdownHTML "" }}
                    {{ if eq .Course.User.ID .User.ID }}
                        <p>No landing page markdown! Open <span x-data @click="settings_open()" style="text-decoration:underline; cursor:pointer;">course settings</span> and provide a landing page funnel for your course!</p>
                    {{ else }}
                        <p>The author has not added a description yet.</p>
                    {{ end }}
                {{ end }}
            </div>
    
            <div>
                <!-- TODO prerequisite courses -->
            </div>
            
            <div x-show="$store.course.sections.length !== 0" @click="course_startCourse()" style="margin-left:1rem; margin-right:1rem; font-weight:600; background-color:var(--thm-hl); width:calc(100%-2rem); text-align:center; padding:0.5rem; margin-top:2rem; --utls-hover:var(--thm-hl-a); cursor:pointer;" class="utls-bd utls-hover">
                START COURSE <i class="fa-solid fa-right-long"></i>
            </div>

            {{ if eq .Course.User.ID .User.ID }}
                <div style=" text-align:center; padding:1rem;" x-show="$store.course.releases.length == 0">This course contains no editions. Start by making a <span x-data @click="settings_releasesNewCreate(); $store.course.menuOpen = true;" style="text-decoration:underline; cursor:pointer;">a new edition</span>.</div>
            {{ end }}
        </div>
    </div>
    
</div>