
		</main>
		<div class="pad-sides-5 pad-top-2rem pad-bot-5rem bg">
			<table>
				<th>
					<tr>
						<td href="/" style="padding-right:5rem;">
							<h4 class="c-code">Sparker</h4>
						</td>
						<td>
							<h4 class="c-code">Social</h4>
						</td>
						<td style="margin-left:auto;">
							<button id="themeToggle" class="bd-none bd hoverable-bg-code pad-05">Theme: <inline id="themeToggleText">Dark</inline></button>
						</td>
					</tr>
				</th>
				<tb>
					<tr>
						<td href="/about">
							<p>About</p>
						</td>
						<td href="https://medium.com/@paperprototype">
							<p><i class="fa-brands fa-medium"></i> Blog</p>
						</td>
					</tr>
					<tr>
						<td href="mailto:info@sparker3d.com">
							<p>Contact Us</p>
						</td>
						<td href="https://discord.gg/QhqTE4t2tR">
							<p><i class="fa-brands fa-discord"></i> Discord</p>
						</td>
					</tr>
				</tb>
			</table>
			<div class="pad-top-2rem">
				© Copyright 2022-2023 Spark LLC. All Rights Reserved.
			</div>
		</div>
	</body>
	<script defer src="/resources/alpinejs@3.x.x/cdn.min.js"></script>
</html>