<!-- Persistent stuff like the top nav bar menu or chat box that should always be available 
TODO add DM's (Direct Messages) to top nav bar -->

<div id="userID" hidden>{{ .User.ID }}</div>

<ul class="nav nav-row pad-sides-5 bg-overlay" id="topNav" style="z-index: -1; border-bottom:0.08rem solid var(--c-light);">
	{{ if not .LoggedIn }}
		<img href="/" class="nav-logo" style="height:2.2rem; display: inline-block; position: relative;">
		<li>
			<a href="/" style="font-size:1.2rem; font-weight:600;">
				Sparker
			</a>
		</li>
		<li style="margin-left:auto;" class="nav-search-bar-signup">
			<form action="/courses" method="get">
				<label class="bd thin-light" style="padding-left:0.5rem; margin-top:0.15rem;">
					<i class="fa-solid fa-magnifying-glass"></i><input name="search" placeholder="search..." class="pad-05 bd-none bd hide-focus bg-overlay">
				</label>
			</form>
		</li>
		<li style="margin-left:auto;">
			<a class="hoverable" href="/login">login</a>
		</li>
		<li>
			<a class="hoverable" href="/signup">signup</a>
		</li>
	{{ else }}
		<!-- Logged in -->
		<img href="/" class="nav-logo" style="height:2.2rem; display: inline-block; position: relative;">
		<li>
			<a href="/" style="font-size:1.2rem; font-weight:600;">
				Sparker
			</a>
		</li>
		<li style="margin-left:auto;" class="nav-search-bar">
			<form action="/courses" method="get">
				<label class="bd thin-light" style="padding-left:0.5rem; margin-top:0.15rem;">
					<i class="fa-solid fa-magnifying-glass"></i><input name="search" placeholder="search..." class="pad-05 bd-none bd hide-focus bg-overlay">
				</label>
			</form>
		</li>
		<li x-data x-init="loadNotifications()" @click="$store.notify.show = ! $store.notify.show;" class="nav-search-hidden-stick-right">
			<a class="hoverable" style="padding-bottom:0.5rem; margin-bottom:auto; display:flex; margin-top:0.2rem;">
				<i x-show="$store.notify.new" x-text="$store.notify.count"
				style="display:block; font-size:0.7rem; background-color:var(--c-code); padding:0.3rem; 
				padding-bottom:0.05rem; padding-top:0.1rem; padding-right:0.4rem; border-radius:0.5rem; margin-right:0.2rem;"></i>
				<i :class="$store.notify.new ? 'fa-solid fa-bell' : 'fa-regular fa-bell' "></i>
			</a>
		</li>
		<li>
			<a class="hoverable" style="padding-bottom:0.5rem; margin-bottom:auto;" href="/{{ .User.Username }}"><i class="fa-solid fa-at"></i>{{ .User.Username }}</a>
		</li>
	{{ end }}
	<li x-data @click="$store.nav.show = ! $store.nav.show">
		<i class="fa-solid fa-bars hoverable bd pad-05" style="margin-top:0.2rem;"></i>
	</li>
</ul>

<style>
	[nav] table, [nav] td { 
		border-collapse: collapse; 
	}
	[nav] td {
		border:none; 
	}
	[nav] tr
		td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
	[nav] tr
		td:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
</style>

<!-- nav dropdown -->
<div @click.outside="$store.nav.show = false" x-data x-cloak x-show="$store.nav.show" style="position:fixed; top:3.5rem; right:5%;" class="bd bg-overlay shadow thin-light">
	<div nav style="padding:0.5rem;">
		<table>
			<tb>
				{{ if .LoggedIn }}
					<tr class="hoverable bd" href="/courses">
						<td class="pad-05-lefty"><i class="fa-solid fa-code"></i></td>
						<td class="pad-05">Courses</td>
					</tr>
					{{ if .User.Verified }}
						<tr class="hoverable bd" href="/new">
							<td class="pad-05"><i class="fa-solid fa-plus"></i></td>
							<td class="pad-05">Course</td>
						</tr>
					{{ end }}
					<tr class="hoverable bd" href="/home">
						<td class="pad-05"><i class="fa-solid fa-at"></i></td>
						<td class="pad-05">{{ .User.Username }}</td>
					</tr>
					<tr class="hoverable bd" href="/settings">
						<td class="pad-05"><i class="fa-solid fa-gear"></i></td>
						<td class="pad-05">Settings</td>
					</tr>
					<tr class="hoverable bd" href="/logout">
						<td class="pad-05"><i class="fa-solid fa-arrow-right-from-bracket"></i></td>
						<td class="pad-05">Logout</td>
					</tr>
				{{ else }}
					<tr class="hoverable bd" href="/courses">
						<td class="pad-05"><i class="fa-solid fa-code"></i></td>
						<td class="pad-05">Courses</td>
					</tr>
					<tr class="hoverable bd" href="/login">
						<td class="pad-05"><i class="fa-solid fa-right-to-bracket"></i></td>
						<td class="pad-05">Login<td>
					</tr>
					<tr class="hoverable bd" href="/signup">
						<td class="pad-05"><i class="fa-solid fa-user-plus" style="padding-left:0.1rem; padding-right:0.5rem;"></i></td>
						<td class="pad-05">Signup</td>
					</tr>
				{{ end }}
			</tb>
		</table>
	</div>
</div>

<!-- notifications dropdown -->
{{ if .LoggedIn }}
	<script src="/resources/scripts/notify.js" defer></script>
	<div 
	@click.outside="$store.notify.show = false" 
	x-data x-cloak 
	x-show="$store.notify.show" 
	style="z-index:100; position:absolute; top:3.85rem; right:0; left:0; height:100%; padding-top:0rem; padding-bottom:0rem;"
	class="bg-overlay pad-sides-5">
		<div id="navNotifications">
			loading...
		</div>
	</div>
{{ end }}

<div class="bg-overlay" id="messagesMount" style="z-index:1000; background-color:transparent; position:fixed; bottom:1rem; right:1rem; padding-left:1rem; padding-right:1rem; width:75%;">
	{{ range .Messages }} 
		<h4 hideOnClick class="bd bg-code" style="box-shadow:0rem 0rem 0.5rem var(--c-shadow); padding: 1rem; display: flex;">{{ . }} <i style="margin-left:auto;" class="fa-solid fa-xmark"></i></h4>
	{{ end }}
</div>