<!-- Persistent stuff like the top nav bar menu or chat box that should always be available -->

<ul class="nav nav-row pad-sides-05rem" id="topNav" style="z-index: -1;">
	{{ if not .LoggedIn }}
		<img href="/" class="nav-logo" style="width: 3rem; display: inline-block; position: relative; margin-left:0.5rem;">
		<li>
			<a href="/">
				sparker
			</a>
		</li>
		<li>
			<a href="/login">login</a>
		</li>
		<li>
			<a href="/signup">signup</a>
		</li>
		<li>
			<a href="/courses">courses</a>
		</li>
		<li x-data @click="$store.sideNav.show = ! $store.sideNav.show" style="margin-left:auto; padding-right:1rem;">
			<i class="fa-solid fa-bars"></i>
		</li>
	{{ else }}
		<!-- Logged in -->

		<img href="/" class="nav-logo" style="width: 3rem; display: inline-block; position: relative; margin-left:0.5rem;">
		<li>
			<a href="/">sparker</a>
		</li>
			<a style="margin-left:auto;" href="/{{ .User.Username }}">@{{ .User.Username }}</a>
		</li>
		<li x-data @click="$store.sideNav.show = ! $store.sideNav.show" style="padding-right:1rem;">
			<i class="fa-solid fa-bars"></i>
		</li>
	{{ end }}
</ul>

<div x-data x-show="$store.sideNav.show" style="position:fixed; top:3rem; right:1rem;" class="bd bg-overlay">
	<div class="nav thin-light bd" style="text-align:right; padding:0.5rem;">
		<li>
			<a href="/logout">logout</a>
		</li>
		<li>
			<a href="/courses">courses</a>
		</li>
		{{ if .User.HasStripeConnection }}
			<li>
				<a href="/new">new</a>
			</li>
		{{ end }}
		<li>
			<a href="/{{ .User.Username }}">@{{ .User.Username }}</a>
		</li>
		<li>
			<a href="/settings">settings</a>
		</li>
	</div>
</div>

<div class="bg-overlay" id="messagesMount">
	{{ range .Messages }} 
		<h4 hideOnClick style="padding: 1rem; display: flex;">{{ . }} <i style="margin-left:auto;" class="fa-solid fa-xmark"></i></h4>
	{{ end }}
</div>