{{ template "_header.html" . }}

<link rel="stylesheet" href="/resources/css/landing.css">

<div class="pad-sides-5 pad-top-5rem pad-bot-5rem text-center bg-overlay" 
style="position:fixed; right:0; left:0; z-index: -2; width: 100%; top: 0;">
	
	<h1 style="font-size: 2.8rem;margin-top:5rem;">Founders</h1>
	<p style="font-size: 1.1rem;">
		The wondereful people who helped start this company
	</p>
</div>
<div class="pad-sides-5 pad-bot-5rem bg-overlay " 
style="margin-top:20rem; padding-top:0.5rem;">
	<div class="landing-width">
		<div class="pad-bot-2rem text-center">
			<h2 class="c-code">
				A Christian company
			</h2>
		</div>
		<div class="pad-bot-2rem">
			<h2 class="c-code">Abdiel Lopez (Founder)</h2>
			<p>
				Hey! I'm currently the lead backend engineer / everything person. I'm also the guy who began this whole thing in 2022.
			</p>
		</div>
		<div class="pad-bot-2rem">
			<h2 class="c-code">David Spooner (Co-founder, First Investor)</h2>
			<p>
				I'm made of awesome sauce. That's all you need to know.
			</p>
		</div>
	</div>
</div>

{{ template "_footer.html" . }}