{{ template "_header.html" . }}

<div class="pad-sides-5 pad-top-5rem pad-bot-2rem text-center">
	<h1>{{ .Course.Title }}</h1>
	{{ if eq .Course.UserID .User.ID }}
		<a href="/{{ .Course.Name }}/settings">Settings</a>
	{{ end }}
	<p style="background-color:var(--c-code); width:max-content; color:white;" class="form-btn bd">v{{ .Release.Num }}.{{ .Release.GetNewestVersionLogError.Num }}.{{ .Release.GetNewestVersionLogError.Patch }}</p>
	<!-- allow line breaks in the pre tag -->
	<pre style="
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;">{{ .Course.Subtitle }}</pre>
	{{ template "course_buyOrOpenButton.html" . }}
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-2rem bg-overlay">
	<div>
		<div style="padding-top:0rem;">
			<h1>Sections</h1>
			{{ if eq .Release.GetNewestVersionLogError.ID 0 }}
				<h5>Release {{ .Release.Num }}.{{ .Release.GetNewestVersionLogError.Num }}.{{ .Release.GetNewestVersionLogError.Patch }}</h5>
				<div>
					{{ .Release.GetVersionsCountLogError }} Uploads
				</div>
			{{ else }}
				<h5>Release {{ .Release.Num }}.{{ .Release.GetNewestVersionLogError.Num }}.{{ .Release.GetNewestVersionLogError.Patch }}</h5>
				<div>
					<!-- display sections -->
					{{ range .Release.GetNewestVersionLogError.GetSectionsLogError }}
						<div style="font-size:1.2rem;">
							{{ .Name }}
						</div>
					{{ end }}
				</div>
			{{ end }}
		</div>
		<div x-data="{ open: false }">
			<h5 @click="open = ! open">All Releases <i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i></h5>
			<div x-show="open">
				{{ range .Course.GetPublicCourseReleasesLogError }}
					<div x-data="{ open: false }" class="thin-grey bd" style="padding:1rem; padding-top:0rem; margin-bottom: 1rem;;">
						<div style="display:flex;">
							<h4 @click="open = ! open" >
								Release {{ .Num }}  <i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i>
							</h4>
							<div style="margin-top:1rem; margin-left:auto;">
								<button href="/{{ $.Course.Name }}/{{ .Num }}" style="background-color: var(--c-code); color:white;padding-left:2rem; padding-right:2rem;" class="form-btn bd">View Release</button>
							</div>
						</div>
						<div>
							{{ .GetVersionsCountLogError }} Uploads
						</div>
						<div x-show="open">
							{{ range .GetVersionsLogError }}
								<div class="thin-top">
									<h5> Upload .{{ .Num }}.{{ .Patch }} </h5>
									{{ range .GetSectionsLogError }}
										<div>
											{{ .Name }}
										</div>
									{{ end }}
								</div>
							{{ end }}
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
	<div class="pad-top-2rem">
		{{ .Release.Markdown }}
	</div>
	<div class="pad-top-2rem">
		TODO Reviews
	</div>
</div>

{{ template "_footer.html" . }}