<script defer>
	document.addEventListener("DOMContentLoaded", function(event) {
		let chatTextarea = document.getElementById("chatTextarea");

		// we need box-sizing: border-box, if the textarea has padding
        chatTextarea.style.boxSizing = chatTextarea.style.mozBoxSizing = 'border-box';

        // we don't need any scrollbars, do we? :)
        chatTextarea.style.overflowY = 'hidden';

        // the minimum height initiated through the "rows" attribute
        var minHeight = chatTextarea.scrollHeight;

        chatTextarea.addEventListener('input', function() {
            adjustHeight(chatTextarea, minHeight);
        });

        // we have to readjust when window size changes (e.g. orientation change)
        window.addEventListener('resize', function() {
            adjustHeight(chatTextarea, minHeight);
        });

	});

	function adjustHeight(textareaElement, minHeight) {
        // compute the height difference which is caused by border and outline
        var outerHeight = parseInt(window.getComputedStyle(textareaElement).height, 10);
        var diff = outerHeight - textareaElement.clientHeight;

        // set the height to 0 in case of it has to be shrinked
        textareaElement.style.height = 0;

        // set the correct height
        // el.scrollHeight is the full height of the content, not just the visible part
        textareaElement.style.height = Math.max(minHeight, textareaElement.scrollHeight + diff) + 'px';
    }
</script>
<div style="height:100%">
	<div style="width:20rem; min-width:20rem; display:block">
		{{ range .Channels }}
			<p class="pad-05 bd">{{ .Name }}</p>
		{{ end }}

		<!-- only if the user is logged in and matches the author id -->
		{{ if eq .User.ID .Course.User.ID }}
			<div x-data="{ open: false }">
				<div x-show="open === false">
					<p @click="open = true;" class="pad-05 bd bg" style="display:flex;">
						new channel
						<i style="margin-left:auto;" class="fa-solid fa-plus"></i>
					</p>
				</div>
				<form x-show="open" action="/{{ .Course.User.Username }}/{{ .Course.Name }}/channel/new" method="post">
					<p class="bg bd" style="display:flex;">
						<input name="name" class="hide-focus pad-05" style="border:none; background-color: transparent; width:100%;" placeholder="channel name...">
						<i @click="open = false" style="margin-left:auto;" class="fa-solid fa-xmark pad-05"></i>
						<button type="submit" class="pad-05 bd bd-none hoverable-bg-code">Save</button>
					</p>
				</form>
			</div>
		{{ end }}
	</div>
	{{ if .Channels }}
		<div class="bd thin-light" style="position:absolute; bottom:1rem; left:5%; right:5%; top:6rem;">
			<div style="height:80%;">
				messages
			</div>
			<div class="pad-05" style="position:absolute; bottom:0rem; left:0; right:0;">
				<!--
					ONCE WE GET S3 bucket working and images can be uploaded
				<div class="pad-05">
					<i class="fa-solid fa-circle-plus"></i>
				</div>
				-->
				<div style="display:flex; padding-bottom: 0.5rem;">
					<i x-data @click="sendMessage()" style="margin-left:auto;" class="fa-solid fa-paper-plane bd hoverable pad-05"></i>
				</div>
				<form class="bd thin-light pad-05 bg" style="min-width:100%; max-width:100%;">
					<textarea id="chatTextarea" placeholder="chat..." class="bg bd-none hide-focus" style="display:block; width:100%; max-width:100%; min-width:100%; max-height: 20rem;"></textarea>
				</form>
			</div>
		</div>
	{{ else }}
		<div class="bd thin-light" style="position:absolute; bottom:1rem; left:5%; right:5%; top:6rem;">
			<div style="height:80%;" class="pad-05">
				The author has not created any channels
			</div>
			<div class="pad-05" style="position:absolute; bottom:0rem; left:0; right:0;">
				<form class="bd thin-light pad-05 bg" style="min-width:100%; max-width:100%;">
					<textarea id="chatTextarea" disabled placeholder="chat..." class="bg bd-none hide-focus" style="display:block; width:100%; max-width:100%; min-width:100%; max-height: 20rem;"></textarea>
				</form>
			</div>
		</div>
	{{ end }}
</div>