{{ template "_header.html" . }}

<div style="display:none;" id="courseID" value="{{ .Course.ID }}"></div>

<div class="pad-sides-5 pad-top-5rem pad-bot-2rem text-center">
	<h1>{{ .Course.Title }} Setting's</h1>
	<p>
		<a href="/{{ .Course.Name }}">To landing page</a>
	</p>
	<p>
		<a href="/{{ .Course.Name }}/view/{{ .Course.GetNewestCourseReleaseLogError.GetNewestVersionLogError.ID }}">View version {{ .Course.GetNewestCourseReleaseLogError.Num }}.{{ .Course.GetNewestCourseReleaseLogError.GetNewestVersionNumLogError }}</a>
	</p>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-2rem bg-overlay">
	<h2>Display</h2>
	<form action="/{{ .Course.Name }}/settings/display" method="post">
		<input hidden="{{ .Course.ID }}" name="courseID" value="{{ .Course.ID }}">
		<label>Title</label>
		<div style="margin-bottom: 2rem;">
			<input
			name="title"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 2rem;"
			value="{{ .Course.Title }}">
		</div>
		<label>Name</label>
		<div style="margin-bottom: 2rem;">
			<input
			name="name"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 1rem; padding: 0.2rem;"
			value="{{ .Course.Name }}">
		</div>
		<label>Description</label>
		<div style="margin-bottom: 2rem;">
			<textarea
			name="desc"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 1rem; padding: 0.2rem;"
			value="{{ .Course.Name }}">{{ .Course.Desc }}</textarea>
		</div>
		<div>
			<button class="form-btn" type="submit">Save</button>
		</div>
	</form>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-5rem bg-overlay">
	<h2>Releases</h2>
	<div>
		{{ range .Releases }}
			<div x-data="dropdown" class="thin-grey" style="margin-bottom: 2rem; padding: 1rem; border-radius: 0.5rem;">
				<div>
					<form action="/{{ $.Course.Name }}/settings/release/edit" method="post">
						<h4 style="margin-top: 0.5rem;">Release {{ .Num }}.{{ .GetNewestVersionNumLogError }}.x</h4>
						<input hidden name="releaseID" value="{{ .ID }}">
						<label>Price USD</label>
						<div style="margin-bottom: 1rem;">
							<input max="10" step="1" name="price" class="form-input" type="number" value="{{ .Price }}">
						</div>
						<label style="margin-top: 0.5rem;">Description</label>
						<div style="margin-bottom: 1rem;">
							<textarea name="desc" class="form-input" style="min-width: 100%; max-width: 100%;" placeholder="Description">{{ .Desc }}</textarea>
						</div>
						<div>
							<button class="form-btn" type="submit">Submit Changes</button>
						</div>
					</form>
					<div style="margin-top: 0.5rem; margin-bottom: 0.5rem;" @click="toggle()">
						Versions <i class="fa-solid fa-caret-down"></i>
					</div>
				</div>
				<div x-show="open === true" x-cloak>
					<div class="thin-top-grey">
						<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
							<h5>Upload New Version</h5>
						</div>
						<!-- TODO handle zip files or git downloads and specific git branches -->
						<form action="/{{ $.Course.Name }}/settings/version/new" method="post" enctype="multipart/form-data">
							<input hidden name="releaseID" value="{{ .ID }}">
							<div>
								<input name="zipFile" accept=".zip" type="file">
							</div>
							<div>
								<button type="submit">Upload New Version</button>
							</div>
						</form>
					</div>
					{{ range .GetVersionsLogError }}
						<div style="margin-top: 2rem; display: flex;" class="thin-top-grey">
							<div>
								<h5>Version .{{ .Num }}</h5>
							</div>
							<div style="margin-top: 1rem; margin-left: 1rem;">
								<a href="/{{  $.Course.Name }}/view/{{ .ID }}">View version</a>
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		{{ end }}
	</div>
	<div class="thin-grey" style="margin-bottom: 2rem; margin-top: 1rem; padding: 1rem; border-radius: 0.5rem;">
		<h3 style="margin-top: 0.5rem;">New Release</h3>
		<form action="/{{ .Course.Name }}/settings/release/new" method="post">
			<label>Price USD</label>
			<div style="margin-bottom: 1rem;">
				<input max="10" step="1" name="price" class="form-input" type="number" value="0">
			</div>
			<label>Description</label>
			<div style="margin-bottom: 1rem;">
				<textarea name="desc" placeholder="Description" class="form-input" style="min-width: 100%; max-width: 100%; margin-bottom: 0.5rem;"></textarea>
			</div>
			<button class="form-btn" type="submit" style="width: 100%;">New Release</button>
		</form>
	</div>
</div>

{{ template "_footer.html" . }}