{{ template "_header.html" . }}

<!-- so users can view posts -->
{{ template "post.html" . }}

<img src="{{ .Release.ImageURL }}" style="position:fixed; z-index: -1; top:0; right:0; left:0; opacity:0.25; filter:blur(0.1rem);">

<div id="courseURL" hidden>/{{ .Course.User.Username }}/{{ .Course.Name }}/view/{{ .Version.ID }}</div>
<div id="courseName" hidden>{{ .Course.Name }}</div>
<div id="versionID" hidden>{{ .Version.ID }}</div>
<div id="sectionID" hidden>{{ .Section.ID }}</div>
<div id="courseID" hidden>{{ .Course.ID }}</div>

{{ if .Version.HasGithubVersion }}
	<div id="usingGithub" hidden>true</div>
{{ else }}
	<div id="usingGithub" hidden>false</div>
{{ end }}

<script>
	document.addEventListener("alpine:init", function(event) {
		Alpine.store('courseView', {
			menuAvailable: true,
			menuOpen: false,
			// whether the dropdown menu is showing the chat or the posts
			menu: 'sections', // 'sections' or 'chat'

			// allow new showcase post
			allowNewPost: true,

			// course
			editingContent: false,
			usingGithub: false,

			// views = posts and contents
			views: ['contents', 'posts'],

			view: 'contents',
			
			// current channelID for the chat
			channelID: {{ .Channel.ID }},
			newestMessageDate: "", // newest message date
		});
	});
</script>

<script defer src="/resources/scripts/courseView.js"></script>
<script defer src="/resources/scripts/courseViewGithub.js"></script>

<!-- inline templated script -->
{{ template "courseView_initDataFirstSection.html" . }}

<!-- if the user was viewing a post then the post will be pre-loaded but we need to 
    show the posts view of the course -->
{{ if ne .Post.Markdown "" }}
	<script defer>
		document.addEventListener("alpine:init", function(event) {
			viewPosts();
			loadPosts({{ .Version.ID }});

			// loading the chat channel
			loadChannel({{ .Channel.ID }}, '{{ .Channel.Name }}');
		});
	</script>
{{ else }}
	<script defer>
		document.addEventListener("alpine:init", function(e) {
			// show contents view
			viewContents();

			{{ if .ChannelID }}
				console.log("channel id provided, loading chat view")
				// if the page was loaded with a channel_id query then this is a notification so load channel
				toggleChat();
				loadChannel({{ .Channel.ID }}, '{{ .Channel.Name }}');
			{{ else }}
				loadChannel({{ .Channel.ID }}, '{{ .Channel.Name }}');
			{{ end }}
		});
	</script>
{{ end }}

<link href="/resources/css/courseView.css" rel="stylesheet">
<link href="/resources/css/markdownScaleImg.css" rel="stylesheet">
<link href="/resources/css/markdown.css" rel="stylesheet">

<div class="pad-sides-5 pad-top-2rem pad-bot-2rem">
	<h1 style="margin-bottom:0;" class="c-bold">
		<i class="fa-solid fa-arrow-left-long pad-05 bd hoverable-bg-overlay" href="/{{ .Course.User.Username }}/{{ .Course.Name }}/{{ .Release.Num }}"></i>
		{{ .Course.Title }}
		<span style="color:var(--c-text); margin-top:2.3rem; font-size:1rem;">v{{ .Release.Num }}.{{ .Version.Num }}.{{ .Version.Patch }}</span>
	</h1>
	<pre style="
	margin-top:1rem;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;">{{ .Course.Subtitle }}</pre>
	<div style="display:flex;">
		<div class="hoverable bd pad-05" href="https://open.spotify.com/playlist/37i9dQZF1DX4sWSpwq3LiO" external>
			<i class="fa-brands fa-spotify"></i> focus music <i class="fa-solid fa-arrow-up-right-from-square"></i>
		</div>
		{{ if ne .Version.Num .Release.GetNewestVersionLogError.Num }}
			<i
			style="margin-left:0.5rem;"
			class="bg-code hoverable-bg-code bd pad-05"
			href="/{{ .Course.User.Username }}/{{ .Course.Name }}/view/{{ .Release.GetNewestVersionLogError.ID }}">
				New version available (v{{.Release.Num }}.{{ .Release.GetNewestVersionLogError.Num }}.{{ .Release.GetNewestVersionLogError.Patch }})
			</i>
		{{ end }}
		{{ if .Version.Preview }}
			<i class="bg-code pad-05 bd" style="width:max-content; margin-left:0.5rem;">preview</i>
		{{ end }}
		{{ if eq .User.ID .Course.UserID }}
			<i class="fa-solid fa-gear hoverable bd pad-05" style="margin-left:auto;" href="/{{ .Course.User.Username }}/{{ .Course.Name }}/settings"></i>
		{{ end }}
	</div>

	{{ if .Version.Preview }}
        <p class="c-grey">This version is a preview so some things may not be complete.</p>
    {{ end }}
</div>
<div x-data>
	<div class="pad-sides-5 bg-overlay course-menu thin-top" style="display: flex; padding-bottom: 0.5rem; margin-top:0; padding-top:0.5rem; margin-bottom:0; max-width:100%; height:60px;" id="courseNavTop">
		<!-- dropdown menu -->
		<div title="Contents" x-show="$store.courseView.menuAvailable" @click="toggleMenu()"
		class="bd c-light thin-light hoverable"
		:class="$store.courseView.menu === 'sections' && $store.courseView.menuOpen ? 'hovered' : '' "
		style="font-size:1.5rem; cursor:pointer; padding-left:0.5rem; padding-right:0.6rem; padding-top:0.4rem; padding-bottom:0.4rem;">
			<i class="fa-solid fa-list-ul"></i>
		</div>

		<!-- back button when viewing posts or chat or menu to go back to course contents-->
		<div title="Course" x-cloak x-show="!$store.courseView.menuAvailable && !$store.courseView.viewingPost" @click="viewContents()"
		class="bd thin-light hoverable"
		style="font-size:1.5rem; cursor:pointer; padding-left:0.6rem; padding-right:0.6rem; padding-top:0.45rem; padding-bottom:0rem;">
			<i class="fa-solid fa-arrow-left-long"></i>
		</div>

		<!-- back button when viewing specific post to go back to viewing all posts -->
		<div title="Posts" x-cloak x-show="$store.courseView.viewingPost" @click="viewPosts(); loadPosts({{ .Version.ID }});"
		class="bd thin-light hoverable"
		style="font-size:1.5rem; cursor:pointer; padding-left:0.6rem; padding-right:0.6rem; padding-top:0.45rem; padding-bottom:0rem;">
			<i class="fa-solid fa-arrow-left-long"></i>
		</div>

		<div x-show="$store.courseView.view === 'contents'" id="sectionTitle"
		style="width:70%; overflow-x:hidden; font-size:1.2rem; white-space: nowrap; text-overflow:hidden; cursor:pointer; padding-left:1rem; padding-right:0.6rem; padding-top:0.5rem; padding-bottom:0rem;">
			{{ .Section.Name }}
		</div>

		<div x-show="$store.courseView.view === 'posts'" id="postsTitle"
		style="width:70%; overflow-x:hidden; font-size:1.2rem; white-space: nowrap; text-overflow:hidden; cursor:pointer; padding-left:1rem; padding-right:0.6rem; padding-top:0.5rem; padding-bottom:0rem;">
		</div>

		<!-- view posts -->
		<div title="Posts" @click="viewPosts(); loadPosts({{ .Version.ID }});"
		class="bd thin-light hoverable"
		:class="$store.courseView.view === 'posts' && $store.courseView.menuOpen === false ? 'hovered' : '' "
		style="font-size:1.5rem; cursor:pointer; padding-left:0.55rem; padding-right:0.55rem; padding-top:0.48rem; margin-left:auto; margin-right:0.5rem;">
			<i class="fa-regular fa-message"></i>
		</div>

		<!-- view chat -->
		<div title="Chat" @click="toggleChat()"
		class="bd thin-light hoverable"
		:class="$store.courseView.menu === 'chat' && $store.courseView.menuOpen ? 'hovered' : '' "
		style="font-size:1.5rem; cursor:pointer; padding-left:0.35rem; padding-right:0.35rem; padding-top:0.4rem;">
			<i class="fa-regular fa-comments"></i>
		</div>
	</div>

	<!-- dropdown menu for course -->
	<div x-cloak x-show="$store.courseView.menuOpen"  id="courseMenu" style="padding-top: 2rem; padding-bottom: 3rem; overflow-y: hidden; margin-top:0;" class="bg-overlay pad-sides-5">
		<!-- live chat -->
		<div x-cloak x-show="$store.courseView.menu === 'chat'" class="bg-overlay" style="height:100%;">
			{{ template "courseView_chat.html" . }}
		</div>
		<div x-cloak x-show="$store.courseView.menu === 'sections'" style="overflow-y:scroll;">
			<div id="courseMenuResources">
				<h2 style="margin-top:0rem;">Resources</h2>
			</div>
			<div id="courseMenuItems">
				<h2>Sections</h2>
			</div>
		</div>
	</div>

	<div id="courseMain" class="bg-overlay">
		<!-- posts by students -->
		<div x-cloak x-show="$store.courseView.view === 'posts'" class="bg-overlay pad-top-2rem pad-bot-2rem">
			<!-- show all posts -->
			<div x-show="!$store.courseView.viewingPost" id="coursePostsMount">
				<!-- insert posts with js -->
			</div>
		</div>

		<!-- course contents-->
		<div x-show="$store.courseView.view === 'contents'" class="bg-overlay" style="padding-top:1rem; padding-bottom:2rem;">
			<div class="bd thin-light mar-sides-5">
				<div style="display:flex;" class="thin-bot">
					<div class="hoverable pad-05 bd" id="courseContentsLanguage"></div>
					{{ if eq .User.ID .Course.UserID }}
						<div class="hoverable pad-05 bd" x-show="$store.courseView.editingContent === false" @click="loadEditSectionPlaintext();" style="margin-left:auto;"><i class="fa-solid fa-pen-to-square"></i></div>
						<div class="hoverable pad-05 bd" x-show="$store.courseView.editingContent === true" @click="$store.courseView.editingContent = false" style="margin-left:auto;"><i style="margin-left:auto;" class="fa-solid fa-xmark"></i></div>
					{{ end }}
				</div>
				<div x-show="$store.courseView.editingContent === false" style="padding-right:2%; padding-left:2%;" id="courseContent">
				</div>
			</div>
			<div x-cloak x-show="$store.courseView.editingContent === true" class="pad-sides-5 bg-overlay">
				<textarea id="courseContentEdit" class="bd" style="max-width:100%; min-width:100%; height:10rem;"></textarea>
				<button id="courseContentEditSaveButton" @click="saveEditSectionContent(); $store.courseView.editingContent = ! $store.courseView.editingContent" class="form-btn bd" style="width:100%">Update</button>
			</div>
			<div class="bg-overlay pad-sides-5" style="padding-top:2rem; padding-bottom:2rem;">
				{{ template "courseView_newPost.html" . }}
			</div>
			<table class="bg-overlay pad-sides-5 pad-bot-2rem" style="width: 100%;">
				<tr>
					<td class="bd hoverable-bg-code bd-none" style="cursor:pointer; padding: 0.5rem; width: 40%; text-align: center;" id="coursePrevious">
						<i class="fa-solid fa-arrow-left-long"></i> Previous Section 
					</td>
					<td style="width:20%;"></td>
					<td class="bd hoverable-bg-code bd-none" style="cursor:pointer; padding: 0.5rem; width: 40%; text-align: center;" id="courseNext">
						Next Section <i class="fa-solid fa-arrow-right-long"></i>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{{ template "_footer.html" . }}