<script defer>
	document.addEventListener("DOMContentLoaded", function(event) {
		let chatTextarea = document.getElementById("chatTextarea");

        // the minimum height initiated through the "rows" attribute
        var minHeight = chatTextarea.scrollHeight;

        chatTextarea.addEventListener('input', function() {
            adjustHeight(chatTextarea, minHeight);
        });

        // we have to readjust when window size changes (e.g. orientation change)
        window.addEventListener('resize', function() {
            adjustHeight(chatTextarea, minHeight);
        });
	});

	// taken from https://bdadam.com/blog/automatically-adapting-the-height-textarea.html
	function adjustHeight(textareaElement, minHeight) {
		// we need box-sizing: border-box, if the textarea has padding
        chatTextarea.style.boxSizing = chatTextarea.style.mozBoxSizing = 'border-box';

        // compute the height difference which is caused by border and outline
        let outerHeight = parseInt(window.getComputedStyle(textareaElement).height, 10);
        let diff = outerHeight - textareaElement.clientHeight;

        // set the height to 0 in case of it has to be shrinked
        textareaElement.style.height = 0;

        // set the correct height
        // el.scrollHeight is the full height of the content, not just the visible part
        textareaElement.style.height = Math.max(minHeight, textareaElement.scrollHeight + diff) + 'px';
    }
</script>
<div style="height:100%" x-data="{ channelsSelect: false }">
	<div style="display:flex;">
		<p @click="channelsSelect = ! channelsSelect" class="pad-05 bd hoverable" style="max-width:50%; display:block;">
			<inline id="channelTitle"></inline>
			<i class="fa-solid fa-caret-down" style="margin-left:0.5rem;"></i>
		</p>

		<!-- only if the user is logged in and matches the author id -->
		{{ if eq .User.ID .Course.User.ID }}
			<div x-data="{ open: false }" style="width:50%; margin-left:auto;">
				<div x-show="open === false">
					<p @click="open = true;" class="pad-05 bd bg" style="display:flex;">
						new channel
						<i style="margin-left:auto;" class="fa-solid fa-plus"></i>
					</p>
				</div>
				<form x-show="open" action="/{{ .Course.User.Username }}/{{ .Course.Name }}/channel/new" method="post">
					<p class="bg bd" style="display:flex;">
						<input name="versionID" value="{{ .Version.ID }}" hidden>
						<input name="name" class="hide-focus pad-05" style="border:none; background-color: transparent; width:100%;" placeholder="channel name...">
						<i @click="open = false" style="margin-left:auto;" class="fa-solid fa-xmark pad-05"></i>
						<button type="submit" class="pad-05 bd bd-none hoverable-bg-code">Save</button>
					</p>
				</form>
			</div>
		{{ end }}
	</div>
	{{ if .Channels }}
		<div class="bd thin-light" style="position:absolute; bottom:1rem; left:5%; right:5%; top:6rem;">
			<div>
				<div x-show="channelsSelect" style="padding-top:0.5rem;">
					{{ range .Channels }}
						<p @click="loadChannel({{ .ID }}, '{{ .Name }}'); channelsSelect = false;" class="pad-05 bd bg" style="margin:0.5rem; margin-top:0;">{{ .Name }}</p>
					{{ end }}
				</div>
				<!-- messages -->
				<div class="pad-05" x-show="!channelsSelect" style="overflow-y:scroll; bottom:2rem; top: 0rem; left:0; right:0; position:absolute;">
					<p style="margin-left:1rem; margin-right:1rem;">
						This is the beginning of the chat.
					</p>
					<div id="channelMount" style="width:100%;"></div>
				</div>
			</div>
			<div style="position:absolute; bottom:0rem; left:0; right:0;">
				<!--
					ONCE WE GET S3 bucket working and images can be uploaded
				<div class="pad-05">
					<i class="fa-solid fa-circle-plus"></i>
				</div>
				-->
				{{ if .LoggedIn }}
					<div style="display:flex; padding-bottom: 0.5rem;" class="pad-05">
						<i x-data @click="sendMessage()" style="margin-left:auto;" class="fa-solid fa-paper-plane bd shadow hoverable bg-overlay pad-05"></i>
					</div>
				{{ end }}
				<div class="pad-05">
					<form class="bd thin-light bg pad-05" style="min-width:100%; max-width:100%;">
						{{ if .LoggedIn  }}
							<textarea id="chatTextarea" placeholder="chat..." class="bg bd-none hide-focus" style="overflow-y:scroll; display:block; width:100%; max-width:100%; min-width:100%; max-height: 20rem; height:1.1rem;"></textarea>
						{{ else }}
							<div id="chatTextarea" class="bg bd-none hide-focus" style="display:block; width:100%; max-width:100%; min-width:100%; max-height: 20rem;">
								You must be <a href="/login">logged in</a> to send messages
							</div>
						{{ end }}
					</form>
				</div>
			</div>
		</div>
	{{ else }}
		<div class="bd thin-light" style="position:absolute; bottom:1rem; left:5%; right:5%; top:6rem;">
			<div style="height:80%;" class="pad-05">
				The author has not created any channels
			</div>
			<div class="pad-05" style="position:absolute; bottom:0rem; left:0; right:0;">
				<form class="bd thin-light pad-05 bg" style="min-width:100%; max-width:100%;">
					<textarea id="chatTextarea" disabled placeholder="chat..." class="bg bd-none hide-focus" style="display:block; width:100%; max-width:100%; min-width:100%; max-height: 20rem;"></textarea>
				</form>
			</div>
		</div>
	{{ end }}
</div>