{{ template "_header.html" . }}

<div class="pad-sides-5 pad-top-2rem pad-bot-2rem">
    <div style="display:flex;">
        {{ if .Release.GetNewestVersionLogError.Preview }}
            <p class="c-grey bg-code bd pad-05" style="width:max-content;">Preview</p>
        {{ end }}
        <p class="pad-05">by <a href="/{{ .Course.User.Username }}">@{{ .Course.User.Username }}</a></p>
    </div>
	<div style="display:flex; flex-direction:row; flex-wrap:wrap;">
		<h1 style="margin-bottom:0;" class="c-bold">{{ .Course.Title }}</h1>
		{{ if .Release }}
			<h4 style="margin-bottom:3rem;">v{{ .Release.Num }}.{{ .Release.GetNewestVersionLogError.Num }}.{{ .Release.GetNewestVersionLogError.Patch }}</h4>
		{{ end }}
	</div>
	
	<!-- allow line breaks in the pre tag -->
	<pre style="
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;">{{ .Course.Subtitle }}</pre>
	{{ template "course_buyOrOpenButton.html" . }}
	{{ if eq .Course.UserID .User.ID }}
		<div style="text-align:right;">
			<i class="fa-solid fa-gear hoverable-bg-overlay bd" style="padding:0.5rem;" href="/{{ .Course.User.Username }}/{{ .Course.Name }}/settings"></i>
		</div>
	{{ end }}

    {{ if .Release.GetNewestVersionLogError.Preview }}
        <p>This course is in preview. Some things may not be complete. Expect breaking changes.</p>
    {{ end }}
</div>