{{ template "_header.html" . }}

<div style="display:none;" id="courseID" value="{{ .Course.ID }}"></div>

<div class="pad-sides-5 pad-top-5rem pad-bot-2rem text-center">
	<h1>{{ .Course.Title }} Setting's</h1>
	<p>
		<a href="/{{ .Course.Name }}">To landing page</a>
	</p>
	{{ if ne .Course.GetNewestPublicCourseReleaseLogError.ID 0 }}
		<p>
			<a href="/{{ .Course.Name }}/view/{{ .Course.GetNewestPublicCourseReleaseLogError.GetNewestVersionLogError.ID }}">View newest public version {{ .Course.GetNewestPublicCourseReleaseLogError.Num }}.{{ .Course.GetNewestPublicCourseReleaseLogError.GetNewestVersionNumLogError }}</a>
		</p>
	{{ end }}
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-2rem bg-overlay">
	<h2>Display</h2>
	<form action="/{{ .Course.Name }}/settings/display" method="post">
		<input hidden="{{ .Course.ID }}" name="courseID" value="{{ .Course.ID }}">
		<label>Title</label>
		<div style="margin-bottom: 2rem;">
			<input
			name="title"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 2rem;"
			value="{{ .Course.Title }}">
		</div>
		<label>Name</label>
		<div style="margin-bottom: 2rem;">
			<input
			name="name"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 1rem; padding: 0.2rem;"
			value="{{ .Course.Name }}">
		</div>
		<label>Subtitle</label>
		<div style="margin-bottom: 2rem;">
			<textarea
			name="desc"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 1rem; padding: 0.2rem; height:10rem;"
			value="{{ .Course.Subtitle }}">{{ .Course.Subtitle }}</textarea>
		</div>
		<div>
			<button class="form-btn" type="submit">Save</button>
		</div>
	</form>
</div>
<div x-data="{ open: false }" class="pad-sides-5 pad-top-2rem pad-bot-5rem bg-overlay">
	{{ if .Releases }}
		<h2 x-cloak @click="open = ! open">Releases <i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i></h2>
		<div x-cloak x-show="open">
			{{ range .Releases }}
				<div x-data="dropdown" class="thin-grey bd" style="margin-bottom: 2rem; padding: 1rem;">
					<div>
						<div style="display:flex;">
							<h4 style="margin-top: 0.5rem; margin-right: 0.5rem;">
								Release {{ .Num }}.{{ .GetNewestVersionNumLogError }}.x
							</h4>
							<form action="/{{ $.Course.Name }}/settings/release/delete" method="get">
								<input hidden name="releaseID" value="{{ .ID }}">
								<button type="submit" class="form-btn">Delete</button>
							</form>
						</div>
						<form action="/{{ $.Course.Name }}/settings/release/edit" method="post">
							<input hidden name="releaseID" value="{{ .ID }}">
							<label>Price USD</label>
							<div style="margin-bottom: 1rem;">
								<input max="10" step="1" name="price" class="form-input" type="number" value="{{ .Price }}">
							</div>
							<label style="margin-top: 0.5rem;">Markdown Description</label>
							<div style="margin-bottom: 1rem;">
								<textarea name="desc" class="form-input" style="min-width: 100%; max-width: 100%; height:10rem;" placeholder="Description">{{ .Markdown }}</textarea>
							</div>
							<label>Public</label>
							<div style="margin-bottom: 1rem;">
								<input type="checkbox" name="public" {{ if .Public }} checked {{ end }}>
							</div>
							<div>
								<button class="form-btn" type="submit">Submit Changes</button>
							</div>
						</form>
						<div style="margin-top: 0.5rem; margin-bottom: 0.5rem;" @click="toggle()">
							Uploads <i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i></i>
						</div>
					</div>
					<div x-show="open === true" x-cloak>
						<div class="thin-top-grey">
							<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
								<h5>New Upload</h5>
							</div>
							<!-- TODO handle zip files or git downloads and specific git branches -->
							<form action="/{{ $.Course.Name }}/settings/version/new" method="post" enctype="multipart/form-data">
								<input hidden name="releaseID" value="{{ .ID }}">
								<div>
									<input name="zipFile" accept=".zip" type="file">
								</div>
								<div>
									<button type="submit">New Upload</button>
								</div>
							</form>
						</div>
						{{ range .GetVersionsLogError }}
							<div style="margin-top: 2rem;" class="thin-top-grey">
								<div style="display: flex;">
									<div>
										<h5>Upload .{{ .Num }}.{{ .Patch }}</h5>
									</div>
									{{ if .Error }}
										<div style="margin-top: 1rem; margin-left: 1rem;">
											<form action="/{{ $.Course.Name }}/settings/version/delete" method="post">
												<input hidden name="versionID" value="{{ .ID }}">
												<button class="form-btn bd" style="background-color: var(--c-code);" type="submit">Delete upload</button>
											</form>
										</div>
										<div style="margin-top: 1rem; margin-left: 1rem;">
											<a href="/{{  $.Course.Name }}/view/{{ .ID }}">View upload</a>
										</div>
									{{ else }}
										<div style="margin-top: 1rem; margin-left: 1rem;">
											<a href="/{{  $.Course.Name }}/view/{{ .ID }}">View upload</a>
										</div>
									{{ end }}
								</div>
								{{ if .Error }}
									<div>
										An error occured
									</div>
								{{ end }}
								<div>
									<p>
										{{ .Error }}
									</p>
								</div>
							</div>
						{{ end }}
					</div>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<h2>Releases</h2>
		<p>No releases yet!</p>
	{{ end }}
	<div class="thin-grey" style="margin-bottom: 2rem; margin-top: 1rem; padding: 1rem; border-radius: 0.5rem;">
		<h3 style="margin-top: 0.5rem;">New Release</h3>
		<form action="/{{ .Course.Name }}/settings/release/new" method="post">
			<label>Price USD</label>
			<div style="margin-bottom: 1rem;">
				<input max="10" step="1" name="price" class="form-input" type="number" value="0">
			</div>
			<label>Markdown Description</label>
			<div style="margin-bottom: 1rem;">
				<textarea name="desc" placeholder="Description" class="form-input" style="min-width: 100%; max-width: 100%; margin-bottom: 0.5rem;"></textarea>
			</div>
			<button class="form-btn" type="submit" style="width: 100%;">New Release</button>
		</form>
	</div>
</div>

{{ template "_footer.html" . }}