<script>
	function course_submitNewPost() {
		console.log("attempting to create Post...");

		let markdownText = document.getElementById("course_submitNewPostMarkdown").value;

		if (markdownText === "") {
			// prevent from posting an empty post
			// server side checks for this as well
			return
		}

		let sectionID = Alpine.store("sections").current;

		let formData = new FormData();
		formData.append("markdown", markdownText)
		formData.append("sectionID", sectionID);

		fetch("/api/version/{{ .Version.ID }}/posts/new", {
			method: "POST",
			body: formData,
		})
		.then(function(resp) {
			console.log("got response");

			// error check
			if (!resp.ok) {
				throw new Error("Response for submitting new Post was not ok!")
				return
			}

			// hide form
			let form = document.getElementById("course_submitNewPostFormMessage");
			form.innerText = "Posted! (TODO show other peoples posts, using PostToRelease.SectionID)";

			// hide posting form
			Alpine.store("courseView").allowNewPost = false;
			// delete post data
			document.getElementById("course_submitNewPostMarkdown").value = "";

			console.log("success! new post was sent!");
			SendMessage("Successfully sent post!");
			return resp.text();
		})
		.then(function(text) {
			console.log(text);
		})
		.catch(function(err) {
			console.error(err);

			// hide posting form
			Alpine.store("courseView").allowNewPost = false;

			// hide form and show message
			let form = document.getElementById("course_submitNewPostFormMessage");
			form.innerText = "Uhh... The internet must have broken... or something... (are you logged in?)";
		});
	}
</script>

<div x-data x-show="$store.courseView.allowNewPost">
	<h1>Post</h1>
	{{ if .LoggedIn }}
		<div>
			<p>{{ .Progress }}% done</p>
			<p class="c-grey">You need a total of {{ .Version.SectionsCountLogError }} posts to complete this course.</p>
			<textarea class="bd bg-overlay thin-light"  id="course_submitNewPostMarkdown" style="color:white; padding: 0.5rem; max-width: 100%; min-width: 100%; min-height: 8rem; border-bottom-right-radius: 0.5rem; border-bottom-left-radius: 0.5rem;" 
			placeholder=
			"Write about what you made   

You can drag and drop screenshots (TODO)   

Youtube videos can be embedded!    
![my youtube video](https://www.youtube.com/watch?v=LC5B-vpMci8)" required></textarea>
		</div>
		<button @click="course_submitNewPost();" class="bd bd-none pad-05" style="color:white; background-color:var(--c-code); width: 100%;">Post</button>
	{{ else }}
		<p class="c-grey">You need to login if you want to write a post</p>
		<textarea disabled class="bd bg-overlay thin-light" style="color:white; padding: 0.5rem; max-width: 100%; min-width: 100%; min-height: 8rem; border-bottom-right-radius: 0.5rem; border-bottom-left-radius: 0.5rem;" 
			placeholder=
			"Write about what you made!    

You can drag and drop screenshots! (TODO)    

Youtube videos can be embedded!    
![my youtube video](https://www.youtube.com/watch?v=LC5B-vpMci8)" required></textarea>
		<button disabled class="bd bd-none pad-05" style="color:white; background-color:var(--c-code); width: 100%;">Post</button>
	{{ end }}
</div>
<div id="course_submitNewPostFormMessage" x-show="!$store.courseView.allowNewPost">
</div>