{{ if .Release }}
	{{ if eq .Release.Price 0 }}
		<button
		style="margin-top:2rem; font-weight: 600; font-size: 1rem; color:white;
		padding-left:2rem; padding-right:2rem;" 
		href="/{{ .Course.User.Username }}/{{ .Course.Name }}/view/{{ .Release.GetNewestVersionLogError.ID }} " 
		class="form-btn bd">(Free) View Course</button>
	{{ else }}
		{{ if .OwnsCourse }}
			<button
			style="margin-top:2rem; font-weight: 600; font-size: 1rem; color:white;
			padding-left:2rem; padding-right:2rem;"
			class="form-btn bd" href="/{{ .Course.User.Username }}/{{ .Course.Name }}/view/{{ .Ownership.VersionID }}">
				(Owned) View Course
			</button>
		{{ else }}
			<!-- if release has versions -->
			{{ if .Release.HasVersions }}
				<!-- if the user owns the course -->
				{{ if eq .Course.UserID .User.ID }}
					<button
					style="margin-top:2rem; font-weight: 600; font-size: 1rem; color:white;
					padding-left:2rem; padding-right:2rem;" 
					href="/{{ .Course.User.Username }}/{{ .Course.Name }}/view/{{ .Release.GetNewestVersionLogError.ID }} " 
					class="form-btn bd">(Author) View Course</button>
				{{ else }}
					<form action="/{{ .Course.User.Username }}/{{ .Course.Name }}/buy/{{ .Release.ID }}" method="post">
						<button type="submit"
						style="margin-top:2rem; font-weight: 600; font-size: 1rem; color:white;
						padding-left:2rem; padding-right:2rem;"
						class="form-btn bd">Buy Course ${{ .Release.GetPriceUSD }} (USD)</button>
					</form>
					<p class="c-bold text-shadow">You will be directed to stripe for payments</p>
				{{ end }}
			{{ else }}
				<p>(this release has no uploads yet)</p>
			{{ end }}
		{{ end }}
	{{ end }}
{{ else }}
	<p>(this course has no releases yet)</p>
{{ end }}