
<script>
	document.addEventListener("alpine:init", function(event) {
		initSectionsDataLoadFirstSection();
	});

	// fill in sections info in courseView.html menu and Alpine.store.sections (see above)
	async function initSectionsDataLoadFirstSection() {
		Alpine.store("progress", {
			total: {{ .PostsCount }},
			needed: {{ .Release.PostsNeededNum }},
			progress: {{ .Progress }},

			increaseProgress() {
				this.total += 1;

				if (this.needed <= 0) {
					this.progress = 100;
				}

				this.progress = ((this.total / this.needed) * 100).toFixed(2);
			}
		});

		// show loading message
		let content = document.getElementById("courseContent");
		content.innerHTML = "<p>Loading...</p>";

		let versionID = document.getElementById("versionID").innerText;

		if (document.getElementById("usingGithub").innerText === "true") {	
			Alpine.store('courseView').usingGithub = true;
			// init data
			Alpine.store("sections", {
				sections: [],
				current: "",
			});

			Alpine.store("githubTree", {
				json: [],
			});
		} else {
			// not using github
			Alpine.store("sections", {
				sections: [
					// use templating to store info about sections
					{{ range .Version.GetSectionsLogError }}
						{{ .ID }},
					{{ end }}
				],
				current: {{ .Section.ID }},
			});

			loadUploadSection({{ .Section.ID }});

			{{ if eq .ChannelID "" }}
				// close menu
				Alpine.store("courseView").menuOpen = false;
			{{ end }}
			// prevent loadig github based sections with fetch
			return
		}

		fetch("/api/github/version/" + versionID +"/tree", {
			method: "GET",
		})
		.then(function(resp) {
			if (!resp.ok) {
				throw new Error("Error getting commit contents");
			}

			return resp.json();
		})
		.then(function(json) {

			let menuItems = document.getElementById("courseMenuItems")
			let courseResources = document.getElementById("courseMenuResources");
			let wasCourseResources = false;

			let saveFirstSection = true;

			for (let i = 0; i < json.tree.length; i++) {

				// menu item html
				/*
				<div :class="$store.sections.current === {{ .ID }} ? 'selected' : ''" class="bd pad-05" @click="loadSection({{ .ID }});">
					{{ .Name }}
				</div>
				*/

				// if it is a folder
				if (
					json.tree[i].type === "tree" &&
					!json.tree[i].path.includes("Resources") && 
					!json.tree[i].path.includes("Assets") && 
					!json.tree[i].path.includes("Archive") && 
					!json.tree[i].path.includes("Ignore")
				) {
					if (saveFirstSection === true) {
						Alpine.store("sections").current = json.tree[i].sha;
						saveFirstSection = false;
					}

					// add tree sha value as ID for a section
					Alpine.store("sections").sections.push(json.tree[i].sha);

					// menuItems
					// using path as the id of a the section
					let div = document.createElement('div');
					div.setAttribute(":class", "$store.sections.current === '" + json.tree[i].sha + "' ? 'selected' : ''");
					div.setAttribute("class", "bd pad-05");
					div.setAttribute("x-on:click", "loadSection('" + json.tree[i].sha + "'); $store.courseView.menuOpen = false;");
					div.innerText = json.tree[i].path;
					menuItems.append(div);
				}

				if (json.tree[i].type === "blob" && json.tree[i].path.includes("Resources") && json.tree[i].path.includes(".zip")) {
					/*
					<a class="bd pad-05" href="/media/{{ .Version.ID }}/name/{{ .Name }}" download>
						{{ .Name }} <i class="fa-solid fa-file-arrow-down"></i>
					</a>
					*/

					// remove "Resources/" from name
					let mediaName = json.tree[i].path.slice(10, json.tree[i].path.length);

					let resourceItem = document.createElement("a");
					resourceItem.setAttribute("style", "display:block; width:max-content;");
					resourceItem.setAttribute("class", "bd pad-05 hoverable-bg-code");
					resourceItem.setAttribute("href", "/media/"+versionID+"/name/"+mediaName);
					resourceItem.setAttribute("download", "");
					resourceItem.innerHTML = mediaName + ` <i class="fa-solid fa-file-arrow-down"></i>`;

					courseResources.append(resourceItem);

					wasCourseResources = true;
				}
			}

			if (!wasCourseResources) {
				courseResources.innerHTML = "";
			}

			Alpine.store("githubTree").json = json;

			{{ if .SHA }}
				loadGithubSection("{{ .SHA }}");
			{{ else }}
				loadGithubSection(Alpine.store("sections").current);
			{{ end }}
		})
		.catch(function(err) {
			console.error(err);
		});
	}
</script>

<script defer>
	document.addEventListener("alpine:init", function(event) {
		let courseNext = document.getElementById("courseNext");
		courseNext.addEventListener("click", function() {
			let sections = Alpine.store("sections").sections;
			let current = Alpine.store("sections").current;

			// find index of current
			let index = 0;
			for (let i = 0; i < sections.length; i++) {
				if (sections[i] === current) {
					index = i;
					break
				}
			}

			// prevent from loadin section out of bounds
			let nextSectionIndex = index + 1;
			if ((nextSectionIndex + 1) > sections.length) {
				console.log("out of bounds!")
				console.log("index:", index);
				console.log("nextIndex:", nextSectionIndex);
				console.log("currentID:", current);
				return
			}

			let nextSectionID = Alpine.store("sections").sections[nextSectionIndex];

			console.log("index:", index);
			console.log("nextIndex:", nextSectionIndex);
			console.log("nextID:", nextSectionID);
			console.log("currentID:", current);

			let versionID = document.getElementById("versionID").innerText;
			let courseName = document.getElementById("courseName");

			loadSection(nextSectionID);

			// close menu
			Alpine.store("courseView").menuOpen = false;
		});

		let coursePrev = document.getElementById("coursePrevious");
		coursePrev.addEventListener("click", function() {
			let sections = Alpine.store("sections").sections;
			let current = Alpine.store("sections").current;

			// find index of current
			let index = 0;
			for (let i = 0; i < sections.length; i++) {
				if (sections[i] === current) {
					index = i;
					break
				}
			}

			// prevent from loading section out of bounds
			let previousSectionIndex = index - 1;
			if (previousSectionIndex < 0) {
				console.log("out of bounds!")
				console.log("index:", index);
				console.log("previousIndex:", previousSectionIndex);
				console.log("currentID:", current);
				return
			}

			let previousSectionID = Alpine.store("sections").sections[previousSectionIndex];

			console.log("index:", index);
			console.log("previousIndex:", previousSectionIndex);
			console.log("previousID:", previousSectionID);
			console.log("currentID:", current);

			let versionID = document.getElementById("versionID").innerText;
			let courseName = document.getElementById("courseName");

			loadSection(previousSectionID); 

			// close menu
			Alpine.store("courseView").menuOpen = false;
		});

		console.log("section ids", Alpine.store("sections").sections);
	});
</script>