<script>
	function updateCourseNewPostButton() {
			// hide new post button
			Alpine.store("courseView").allowNewPost = false;
			Alpine.store("progress").increaseProgress();
	}
</script>

<div x-show="$store.courseView.allowNewPost">
	{{ if .LoggedIn }}
		<h4 @click="newPostView({ version_id: {{ .Version.ID }} }); updateCourseNewPostButton();" class="bd pad-05 text-center hoverable-bg-code" style="cursor:pointer; width:100%;">
			New Showcase Post
		</h4>
	{{ else }}
		<p class="c-grey">You need to login if you want to write a post. Once you write {{ .Release.PostsNeededNum }} showcase posts you will complete the course.</p>
		<a href="/login">Login to write a post</a>
	{{ end }}
</div>
<div>
	<p>Once you write {{ .Release.PostsNeededNum }} showcase posts you will complete the course.</p>
	<p><span x-text="$store.progress.progress"></span>% done</p>
</div>