{{ template "_header.html" . }}

<div style="display:none;" id="courseID" value="{{ .Course.ID }}"></div>

<div class="pad-sides-5 pad-top-5rem pad-bot-2rem text-center">
	<h1><i class="fa-solid fa-arrow-left-long pad-05 bd hoverable-bg-overlay" href="/{{ .Course.User.Username }}/{{ .Course.Name }}"></i>{{ .Course.Title }} Setting's</h1>
	{{ if ne .Course.GetNewestPublicCourseReleaseLogError.ID 0 }}
		<p>
			<a href="/{{ .Course.User.Username }}/{{ .Course.Name }}/view/{{ .Course.GetNewestPublicCourseReleaseLogError.GetNewestVersionLogError.ID }}">View newest public version {{ .Course.GetNewestPublicCourseReleaseLogError.Num }}.{{ .Course.GetNewestPublicCourseReleaseLogError.GetNewestVersionNumLogError }}</a>
		</p>
	{{ end }}
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-2rem bg-overlay">
	<h2>Display</h2>
	<form action="/{{ .Course.User.Username }}/{{ .Course.Name }}/settings/display" method="post">
		<input hidden="{{ .Course.ID }}" name="courseID" value="{{ .Course.ID }}">
		<label>Title</label>
		<div style="margin-bottom: 2rem;">
			<input
			name="title"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 2rem;"
			value="{{ .Course.Title }}">
		</div>
		<label>Name</label>
		<div style="margin-bottom: 2rem;">
			<input
			name="name"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 1rem; padding: 0.2rem;"
			value="{{ .Course.Name }}">
		</div>
		<label>Subtitle</label>
		<div style="margin-bottom: 2rem;">
			<textarea
			name="desc"
			style="width:100%; background-color: var(--c-bg-overlay); color: var(--c-text); border: 0.1rem solid var(--c-light); font-size: 1rem; padding: 0.2rem; height:10rem;"
			value="{{ .Course.Subtitle }}">{{ .Course.Subtitle }}</textarea>
		</div>
		<label>Public</label>
		<div style="margin-bottom: 2rem;">
			{{ if .Course.Public }}
			<input
			type="checkbox"
			name="public"
			style="padding: 0.2rem;"
			value="public" checked>
			{{ else }}
			<input
			type="checkbox"
			name="public"
			style="padding: 0.2rem;"
			value="public">
			{{ end }}
		</div>
		<div>
			<button class="form-btn" type="submit">Save</button>
		</div>
	</form>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-2rem bg-overlay">
	<h2>Purchases</h2>
	<a href="/settings/teaching">See purchases</a>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-5rem bg-overlay">
	{{ if .Releases }}
		<h2>Releases</h2>
		<div>
			{{ range .Releases }}
				<div x-data="dropdown" class="thin-grey bd" style="margin-bottom: 2rem; padding: 1rem;">
					<div>
						<div style="display:flex;">
							<h4 style="margin-top: 0.5rem; margin-right: 0.5rem;" @click="toggle()">
								Release {{ .Num }}.{{ .GetNewestVersionNumLogError }}.x
								<i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i>
							</h4>
							<form style="margin-left:auto;" action="/{{ $.Course.User.Username }}/{{ $.Course.Name }}/settings/release/delete" method="get">
								<input hidden name="releaseID" value="{{ .ID }}">
								<button type="submit" class="bd-none bd bg pad-05">Delete</button>
							</form>
						</div>
						<div x-show="open">
							<form action="/{{ $.Course.User.Username }}/{{ $.Course.Name }}/settings/release/edit" method="post">
								<input hidden name="releaseID" value="{{ .ID }}">
								<label>Price USD</label>
								<div style="margin-bottom: 1rem;">
									<input min="0" max="10" step="1" name="price" class="form-input" type="number" value="{{ .GetPriceUSD }}">
								</div>
								<div>
									<input name="postsNeededNum" class="form-input" type="number" step="1" max="100" min="1" value="2">
									<p class="c-grey">Number of posts a student must write to complete the course. About 1 post per 3 sections, or 1 post per each project/challenge section.</p>
								</div>
								<label style="margin-top: 0.5rem;">Markdown Description</label>
								<div style="margin-bottom: 1rem;">
									<textarea name="desc" class="form-input" style="min-width: 100%; max-width: 100%; height:10rem;" placeholder="Description">{{ .Markdown }}</textarea>
								</div>
								<label>Public</label>
								<div style="margin-bottom: 1rem;">
									<input type="checkbox" name="public" {{ if .Public }} checked {{ end }}>
								</div>
								<div>
									<button class="bd bd-none bg-code pad-05" type="submit">Save</button>
								</div>
							</form>
						</div>
					</div>
					<!-- Connect release to github repo -->
					<div x-data="dropdown" class="mar-top-2rem thin-top">
						{{ if .HasGithubRelease }}
							<h4 @click="toggle();">
								Github Repository
								<i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i>
							</h4>
							<p class="c-grey">Connected to {{ .GetGithubReleaseLogError.RepoName }}.</p>
						{{ else }}
							<h4 @click="toggle();">
								Select Github Repository
								<i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i>
							</h4>
						{{ end }}
						<div x-show="open">
							{{ if $.User.HasGithubConnection }}
								{{ if not .HasGithubRelease }}
									<!-- create GithubRelease -->
									<script defer src="/resources/scripts/courseSettingsGithubRelease.js"></script>
									<p class="c-grey">Connect this release to a github repo.</p>
									<form x-data="next" action="/{{ $.User.Username }}/{{ $.Course.Name }}/settings/release/github" method="post">
										<input name="releaseID" value="{{ .ID }}" hidden>
										<div style="margin-bottom:0.5rem;">
											<select @change="testNext($el); $dispatch('next')" @click.once="loadRepos()" name="repoID" class="bg-overlay bd pad-05 thin-light" courseSettingsGithubConnectionSelect required>
												<option value="">None</option>
											</select>
										</div>
										<div style="margin-bottom:0.5rem;">
											<label>Select a Branch</label>
											<select @next.window="loadDone($el)" name="branch" class="bg-overlay bd pad-05 thin-light" courseSettingsGithubConnectionSelectBranch required>
												<option value="">None</option>
											</select>
										</div>
										<div>
											<button type="submit" class="bd bd-none bg-code pad-05">Connect</button>
										</div>
									</form>
								{{ else }}
									<!-- edit GithubRelease -->
									<script defer src="/resources/scripts/courseSettingsUpdateGithubRelease.js"></script>
									<script defer>
										function loadBranchesIfFirstEdit(elem) {
											// fetch and display branches for selected repo
											fetch("/api/github/repo/" + {{ .GetGithubReleaseLogError.RepoID }} + "/branches", {
												method: "GET",
											})
											.then(function(resp) {
												if (!resp.ok) {
													throw new Error("Error getting branches");
												}

												return resp.json()
											})
											.then(function(json) {

												elem.innerHTML = "";

												for (let i = 0; i < json.length; i++) {
													let option = document.createElement("option");
													option.value = json[i].name;
													option.innerHTML = json[i].name;
													
													elem.append(option);
												}
											})
											.catch(function(err) {
												console.error(err);
											});
										}
									</script>
									<p class="c-grey">Update this release's github repo.</p>
									<form x-data="updateGithubRelease" action="/{{ $.User.Username }}/{{ $.Course.Name }}/settings/release/github" method="post">
										<input name="releaseID" value="{{ .ID }}" hidden>
										<div style="margin-bottom:0.5rem;">
											<select @change="$dispatch('loadbranches');" @click.once="loadRepos(); $dispatch('loadbranches');" name="repoID" class="bg-overlay bd pad-05 thin-light" courseSettingsGithubConnectionSelect required>
												<option value="{{ .GetGithubReleaseLogError.RepoID }}">{{ .GetGithubReleaseLogError.RepoName }}</option>
											</select>
										</div>
										<div style="margin-bottom:0.5rem;">
											<label>Select a Branch</label>
											<select 
											@click.once="if (firstEdit) { loadBranchesIfFirstEdit($el) } else { loadBranches($el); firstEdit = false; }" 
											@loadbranches.window="if (firstEdit) { loadBranchesIfFirstEdit($el) } else { loadBranches($el); firstEdit = false; }" 
											name="branch" class="bg-overlay bd pad-05 thin-light" courseSettingsGithubConnectionSelectBranch required>
												<option value="{{ .GetGithubReleaseLogError.Branch }}">{{ .GetGithubReleaseLogError.Branch }}</option>
											</select>
										</div>
										<div>
											<button type="submit" class="bd bd-none bg-code pad-05">Update</button>
										</div>
									</form>
								{{ end }}
							{{ else }}
								<p class="c-grey">Github based courses. Go to <a href="/settings/teaching">settings > Teaching > Github Courses</a> to enable this feature.</p>
							{{ end }}
						</div>
					</div>
					{{ if .HasGithubRelease }}
						<div x-data="dropdown" class="mar-top-2rem thin-top">
							<h4 @click="toggle()">
								New Github Version
								<i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-circle-plus' "></i>
							</h4>
							<p class="c-grey">Github versions are connected to a specific github git commit.</p>
							<script defer src="/resources/scripts/courseSettingsGithubVersion.js"></script>
							<form x-show="open" action="/{{ $.User.Username }}/{{ $.Course.Name }}/settings/version/new/github" method="post">
								<input name="releaseID" value="{{ .ID }}" hidden>
								<div style="margin-bottom:0.5rem;">
									<select @click.once="loadRepoBranchCommits($el, {{ .GetGithubReleaseLogError.RepoID }}, '{{ .GetGithubReleaseLogError.Branch }}')" name="sha" class="bg-overlay bd pad-05 thin-light" courseSettingsGithubConnectionSelectCommit required>
										<option value="">None</option>
									</select>
								</div>
								<div class="bd bd-none pad-05">
									<input type="checkbox" name="preview"> This is a preview version
								</div>
								<div>
									<button type="submit" class="bd bg-code bd-none pad-05">Create New Version</button>
								</div>
							</form>
						</div>
					{{ end }}
					<!-- Temorarily disabling uplaod based versions to prevent db from exploding-->
					<!--
					<div x-data="dropdown" class="mar-top-2rem thin-top">
						<h4 @click="toggle()">
							New Version
							<i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-circle-plus' "></i>
						</h4>
						<form x-show="open" action="/{{ $.Course.User.Username }}/{{ $.Course.Name }}/settings/version/new" method="post" enctype="multipart/form-data">
							<input hidden name="releaseID" value="{{ .ID }}">
							<div>
								<input class="bd bd-none pad-05" name="zipFile" accept=".zip" type="file" required>
							</div>
							<div class="bd bd-none pad-05">
								<input type="checkbox" name="preview"> This is a preview version
							</div>
							<div>
								<button class="bg-code bd thin-light pad-05" type="submit">Upload New Version</button>
							</div>
						</form>
					</div>
					-->
					<div x-data="dropdown">
						<div style="margin-top: 2rem; margin-bottom: 0.5rem; padding-top:1rem;" @click="toggle()" class="thin-top">
							Versions <i class="fa-solid" :class="open ? 'fa-caret-down' : 'fa-caret-right' "></i></i>
						</div>
						<div x-show="open === true" x-cloak class="pad-sides-5">
							{{ range .GetVersionsLogError }}
								<div style="margin-top: 2rem;" class="thin-top-grey">
									<div style="display: flex;">
										<div>
											{{ if .HasGithubVersion }}
												<h5>Version .{{ .Num }}.{{ .Patch }}</h5>
											{{ else }}
												<h5>Upload .{{ .Num }}.{{ .Patch }}</h5>
											{{ end }}
										</div>
										{{ if .Error }}
											<div style="margin-top: 1rem; margin-left: 1rem;">
												<form action="/{{ $.Course.User.Username }}/{{ $.Course.Name }}/settings/version/delete" method="post">
													<input hidden name="versionID" value="{{ .ID }}">
													<button class="form-btn bd" style="background-color: var(--c-code);" type="submit">Delete upload</button>
												</form>
											</div>
											<div style="margin-top: 1rem; margin-left: 1rem;">
												<a href="/{{ $.Course.User.Username }}/{{  $.Course.Name }}/view/{{ .ID }}">View upload</a>
											</div>
										{{ else }}
											{{ if .HasGithubVersion }}
												<div style="margin-top: 1rem; margin-left: 1rem;">
													<a href="/{{ $.Course.User.Username }}/{{  $.Course.Name }}/view/{{ .ID }}">View version</a>
												</div>
											{{ else }}
												<div style="margin-top: 1rem; margin-left: 1rem;">
													<a href="/{{ $.Course.User.Username }}/{{  $.Course.Name }}/view/{{ .ID }}">View upload</a>
												</div>
											{{ end }}
										{{ end }}
									</div>
									{{ if .Error }}
										<div>
											An error occured
										</div>
									{{ end }}
									<div>
										<p>
											{{ .Error }}
										</p>
									</div>
									{{ if .UsingGithub }}
										<div>
											<p>Using Github <i class="fa-solid fa-check"></i></p>
										</div>
									{{ end }}
									{{ if .Preview }}
										<div>
											<p class="bg-code pad-05 bd" style="width:max-content;">preview</p>
											<p class="c-grey">This is a preview version</p>
										</div>
									{{ end }}
								</div>
							{{ end }}
						</div>
					</div>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<h2>Releases</h2>
		<p>No releases yet!</p>
	{{ end }}
	<div class="thin-grey" style="margin-bottom: 2rem; margin-top: 1rem; padding: 1rem; border-radius: 0.5rem;">
		<h3 style="margin-top: 0.5rem;">New Release</h3>
		<form action="/{{ $.Course.User.Username }}/{{ .Course.Name }}/settings/release/new" method="post">
			<label>Price USD</label>
			<div style="margin-bottom: 1rem;">
				<input min="0" max="10" step="1" name="price" class="form-input" type="number" value="0">
			</div>
			<label>Number of Portfolio Posts</label>
			<div>
				<input name="postsNeededNum" class="form-input" type="number" step="1" max="100" min="1" value="2">
				<p class="c-grey">Number of posts a student must write to complete the course. About 1 post per 3 sections, or 1 post per each project/challenge section.</p>
			</div>
			<label>Markdown Description</label>
			<div style="margin-bottom: 1rem;">
				<textarea name="desc" placeholder="Description" class="form-input" style="min-width: 100%; max-width: 100%; margin-bottom: 0.5rem; height:10rem;"></textarea>
			</div>
			<button class="form-btn" type="submit" style="width: 100%;">New Release</button>
		</form>
	</div>
</div>

{{ template "_footer.html" . }}