{{ template "_header.html" . }}

<link rel="stylesheet" href="/resources/css/courses.css">

<!-- js that loads courses -->
<script defer src="/resources/scripts/courses.js"></script>
<script defer src="/resources/scripts/courseUtils.js"></script>

<img src="/resources/images/homepage.png" style="position:fixed; z-index: -1; top:0; right:0; left:0; opacity:0.25; filter:blur(0.05rem);">

<div class="pad-sides-5 pad-bot-2rem pad-top-5rem text-center">
	<h1>Courses</h1>
	<div>
		<form method="get" action="/courses">
			<div>
				<input class="form-input bd bg" name="search" id="search" placeholder="Search..." value="{{ .Search }}">
				<button class="bg-code bd bd-none pad-05" style="padding-left:1rem; padding-right:1rem;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
			</div>
			<!-- hide this until it is needed 
			<div class="select" style="display: none;">
				<select name="sort">
					{{ if .Sort }}
						<option value="{{ .Sort }}">{{ .Sort }}</option>
					{{ end }}

					<option value="popular">popular</option>
					<option value="Option 2">reviews</option>
					<option value="Option 3">newest</option>

					-- to allow an outline on focus --
					<span class="focus"></span>
				</select>
			</div>
			-->
		</form>
	</div>
</div>

<!-- 
	courses get loaded by js instead of server side templating
	this speads up google search indexing, and prevents us from using db resources when the site is being indexed
-->
<div class="pad-top-2rem bg-overlay thin-top" id="courses">
	<h3 class="pad-sides-5" style="margin-bottom:0;">Level 0</h3>
	<div id="cards" class="course-cards">
		<div class="course-card-temp">
			temp 1
		</div>
		<div class="course-card-temp">
			temp 2
		</div>
		<div class="course-card-temp">
			temp 3
		</div>
	</div>
</div>

{{ template "_footer.html" . }}