{{ template "_header.html" . }}

<link href="/resources/css/courses.css" rel="stylesheet">

<div class="pad-sides-5 pad-top-5rem pad-bot-2rem text-center">
	<h1>Guidelines</h1>
	<p>Guides on making courses</p>
</div>
<div class="pad-sides-5 bg-overlay pad-bot-2rem pad-top-2rem">
	<h2>Challenges</h2>
	<p>While showing your student every single line of code they should write leads to easy tutorials, it won't help students to learn the fundamental concepts.</p>
	<p>A course should teach a student concepts, and then apply those concepts through code. Otherwise your students may just be copy pasting stuff without having any idea how it works.</p>
	<p>A challenge should have the student take some concepts they've already learned 
		(and seen or used at least once in code) and build a predefined feature or idea using those concepts.</p>
	<p>Make sure the challenge only expects the student to take existsing concepts and build on them.</p>
	<p>Predefined means that you give some sort of definition for what you are expecting the student to do.</p>
</div>

{{ template "_footer.html" . }}