{{ template "_header.html" . }}

<link href="/resources/css/courses.css" rel="stylesheet">

<div class="pad-sides-5 pad-top-5rem pad-bot-2rem text-center">
	<h1>Guidelines</h1>
	<p>Guides on making courses</p>
</div>
<div class="pad-sides-5 bg-overlay pad-bot-2rem pad-top-2rem">
	<h2>Challenges</h2>
	<p>A course should teach a student concepts, and then apply those concepts through code. Otherwise your students may just be copy pasting stuff without having any idea how it works.</p>
	<p>A challenge should have the student take some concepts they've already learned and used at least once, and then challenge the student to write code to add some visual detail or functionality.</p>
	<p>Make sure the challenge only expects the student to take existsing concepts and build on them. Providing assistance and answers to the student if they fail to complete the challenge is recommended.</p>
</div>

{{ template "_footer.html" . }}