{{ template "_header.html" . }}

<link href="/resources/css/courses.css" rel="stylesheet">

<div class="pad-sides-5 pad-top-5rem text-center">
	<h1>Home</h1>
	<a href="/{{ .User.Username }}">View public profile</a>
</div>
<div class="pad-sides-5">
	<h2>Taken Courses</h2>
	{{ if .ProfileCourses }}
		<div class="course-cards">
			{{ range .ProfileCourses }}
				<div class="course-card">
					<h2 href="/{{ $.User.Username }}/{{ .Name }}">{{ .Title }}</h2>
					<a href="/:course/view/:versionID/posts/user/:username">User posts</a>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<p>No courses taken yet.</p>
	{{ end }}
	<h2>Authored Courses</h2>
	{{ if .AuthoredCourses }}
		<div class="course-cards">
			{{ range .AuthoredCourses }}
				<div class="course-card">
					<h2 href="/{{ $.User.Username }}/{{ .Name }}">{{ .Title }}</h2>
					<a href="/:course/view/:versionID/posts/user/:username">User posts</a>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<p>No authored courses yet.</p>
	{{ end }}
</div>

{{ template "_footer.html" . }}