{{ template "_header.html" . }}
<link rel="stylesheet" href="/resources/css/landing.css">

<div class="pad-sides-5 pad-top-5rem pad-bot-5rem text-center bg-overlay" 
style="position:fixed; right:0; left:0; z-index: -2; width: 100%; top: 0;">
	
	<h1 style="font-size: 2.8rem;margin-top:5rem;">Join Sparker in Making Courses</h1>
	<div style="font-size: 1.1rem;">
		Time to ditch phd's and switch to teaching skills's.
	</div>
	<!--
	<div style="margin-top:3rem;">
		<button class="bd bg-code bd-none pad-05 hoverable-bg-code" style=" padding-left:2rem; padding-right:2rem; font-size: 1.2rem; font-weight: 600;" href="/courses">
			<i class="fa-solid fa-code" style="padding-right:0.5rem;"></i> Join Us <i class="fa-solid fa-arrow-right-long"></i>
		</button>
	</div>
	-->
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-5rem bg-overlay " 
style="margin-top:25rem;">
	<div class="landing-width">
		<div class="pad-bot-2rem">
			<p>
				We are still working on the details of this :)
			</p>
		</div>
	</div>
</div>

{{ template "_footer.html" . }}