{{ template "_header.html" . }}
<link rel="stylesheet" href="/resources/css/landing.css">

<div class="pad-sides-5 pad-top-5rem pad-bot-5rem text-center" 
style="position:fixed; right:0; left:0; z-index:-2; width:100%; top:0;">
	
	<img src="/resources/images/homepage.png" style="position:fixed; z-index: -1; top:0; right:0; left:0; opacity:0.25; filter:blur(0.1rem);">

	<h1 style="font-size: 3rem;" class="pad-top-5rem">Coding Courses</h1>
	<div class="text-center pad-bot-2rem">
		<button class="bd bd-none pad-05 hoverable-bg-code" style="padding-left:2rem; padding-right:2rem; font-size: 1.2rem; font-weight: 600;" href="/courses">
			<div style="display:flex; color:white;">
				<i class="fa-solid fa-code" style="padding-right:0.5rem; padding-top:0.15rem;"></i> Go to Courses <i class="fa-solid fa-arrow-right-long" style="padding-left:0.5rem; padding-top:0.15rem;"></i>
			</div>
		</button>
	</div>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-5rem bg-overlay thin-top" 
style="margin-top:25rem;">
	<div class="landing-width">
		<div class="pad-bot-2rem">
			<h1 class="c-code text-center" href="/courses">The Story behind Sparker</h1>
			<p>
                I am a self taught software engineer. I taught myself through online courses. 
                But there was a problem. I realized to truely gain the knowledge to build
                something like make my own minecraft clone from scratch, make a game engine 
                from scratch, or my own website from scratch, it was a mangled mess of random tutorials and courses. And it sucked.
			</p>
            <p>
                I decided to fix online education, and build the software focused school of the future 
                that would replace college courses and the mangled mess of online learning. I didn't care how 
                long it would take or how hard it would be. It was inevitable someone would do it eventually. So why not me?
            </p>
		</div>
		<div class="pad-bot-2rem">
			<h1 class="c-code text-center" href="/courses">The Mangled Mess</h1>
			<p>
                Yay! I learned the basics of scripting? What course do I take next?... 3 hours later, you are still searching.
			</p>
			<p>
                I found there is rarely an answer to that question. To solve it 
                I came up with "pre-requisite" courses. The idea is that
                any course can set another course as its pre-requisite! Say
                when you finish the "Intro to Scripting Games" course any
                courses that set "Intro to Scripting Games" as a pre-requisite 
                show up as next courses to take!
			</p>
		</div>
		<div class="pad-bot-2rem">
			<h1 class="c-code text-center" href="/courses">Quality of learning Experience</h1>
			<p>
                If you've ever taken online college (or any online course) you may notice a problem in the "quality of the experience".
                It can be hard to contact the teacher and get help, and sometimes you have no idea what he is saying so you just blindly follow along.
			</p>
            <p>
                Some courses solve the first problem by having a dedicated discord server! Which is awesome!
            </p>
			<p>
                I decided sparker would teach all its official courses to in-person focus groups (I spent 6 months testing a course on 5 students.
                I ended up throwing the course away because it was fundamentally flawed).
				I wanted our courses to have a unique standard of quality.
			</p>
            <p>
                Because of this courses on sparker feature a builtin "discord" style chat system! <a href="/paper/voxels-unity/view/44?channel_id=6">check it out</a>. 
                Discord style code-highlighting is supported!
            </p>
            <p>
                I plan on having (simplified) live voice and video + screensharing (just like in discord) as soon as I can find/pay poeple to help me build it (or figure it out myself).
            </p>
		</div>
		<div class="pad-bot-2rem">
			<h1 class="c-code text-center" href="/courses">Build a Portfolio...</h1>
			<p>
                A degree doesn't really show employers what you are capable of. A portfolio of work you've done will. Thats why I decided sparker shouldn't offer certificates as a "proof of work". 
                Instead "proof" comes as showcase portfolio posts (exact number varies per course and is set by the course's author).
            </p>
		</div>
		<div class="pad-bot-2rem">
			<h1 class="c-code text-center" href="/courses">Free Courses</h1>
			<p>
				All beginner courses are free! I figured whats the point in paying for something if you 
                don't know if its any good? So yeah... I mean what are you waiting for?
            </p>
		</div>
		<!--
		<div>
			<img src="/resources/images/portfolio.png">
		</div>
		-->
	</div>
	<div class="text-center pad-sides-5">
		<button class="bd bd-none hoverable-bg-code pad-05" style="padding-left:2rem; padding-right:2rem; font-size: 1.5rem; font-weight: 600; width:100%;" href="/courses">
			<div style="color:white;">
				<i class="fa-solid fa-code" style="padding-right:0.5rem; padding-top:0.15rem;"></i> View Courses <i class="fa-solid fa-arrow-right-long" style="padding-left:0.5rem; padding-top:0.15rem;"></i>
			</div>
		</button>
	</div>
</div>
