{{ template "_header.html" . }}
<link rel="stylesheet" href="/resources/css/landing.css">

<div class="pad-sides-5 pad-top-5rem pad-bot-5rem text-center" 
style="position:fixed; right:0; left:0; z-index: -2; width: 100%; top: 0; background-color:black; color:rgb(200, 200, 200);">
	
	<img src="/resources/images/homepage.png" style="position:fixed; z-index: -1; top:0; right:0; left:0; opacity:0.25; filter:blur(0.05rem);">

	<h1 style="font-size: 2.8rem; margin-top:8rem; color:white;">Software Courses</h1>
	<div style="font-size: 1.4rem;" class="pad-top-2rem pad-bot-2rem">
		Time to ditch degrees and switch to portfolios.
	</div>
	<div class="text-center pad-bot-2rem">
		<button class="bd bd-none pad-05 hoverable-bg-code" style="padding-left:2rem; padding-right:2rem; font-size: 1.2rem; font-weight: 600;" href="/courses">
			<div style="display:flex; color:white;">
				<i class="fa-solid fa-code" style="padding-right:0.5rem; padding-top:0.15rem;"></i> Courses <i class="fa-solid fa-arrow-right-long" style="padding-left:0.5rem; padding-top:0.15rem;"></i>
			</div>
		</button>
	</div>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-5rem bg-overlay" 
style="margin-top:30rem;">
	<div class="landing-width">
		<div class="pad-bot-5rem">
			<h1 class="c-code">Build Next-Gen Software</h1>
			<p>
				We focus on building the next generation of engineers by teaching students how to build software, not how to use it.
			</p>
		</div>
		<div class="pad-bot-5rem">
			<h1 class="c-code">Build a Portfolio</h1>
			<p>
				Rather than a degree or certificate build a portfolio that you can use to showcase your skills.
			</p>
		</div>
		<div class="pad-bot-5rem">
			<h1 class="c-code">Free Courses</h1>
			<p>
				All beginner courses are free! Yes, literally
			</p>
		</div>
		<!--
		<div>
			<img src="/resources/images/portfolio.png">
		</div>
		-->
	
		<div class="pad-bot-5rem">
			<h1 class="c-code">The Hierarchy</h1>
			<p>
				Where do I start? Which course do I take next?
			</p>
			<p>
				All those problems? Gone.
			</p>
			<p>
				A modular course hierarchy system makes it so that you can know what courses to take next for your end goal.
			</p>
		</div>
		<div class="pad-bot-5rem">
			<h1 class="c-code">Quality</h1>
			<p>
				Courses are taught in person to get feedback from real world students, making our courses have a unique standard of quality.
			</p>
		</div>
	</div>
	<div>
		<button class="bd bd-none pad-05 hoverable-bg-code" style="padding-left:2rem; padding-right:2rem; font-size: 1.2rem; font-weight: 600;" href="/courses">
			<div style="display:flex; color:white;">
				<i class="fa-solid fa-code" style="padding-right:0.5rem; padding-top:0.15rem;"></i> Courses <i class="fa-solid fa-arrow-right-long" style="padding-left:0.5rem; padding-top:0.15rem;"></i>
			</div>
		</button>
	</div>
</div>

{{ template "_footer.html" . }}