{{ template "_header.html" . }}
<link rel="stylesheet" href="/resources/css/landing.css">

<div class="pad-sides-5 pad-top-5rem pad-bot-5rem text-center" 
style="position:fixed; right:0; left:0; z-index:-2; width:100%; top:0;">
	
	<img src="/resources/images/homepage.png" style="position:fixed; z-index: -1; top:0; right:0; left:0; opacity:0.25; filter:blur(0.1rem);">

	<h1 style="font-size: 3rem; margin-top:0rem;">Coding Courses</h1>
	<div style="font-size: 1.3rem;" class="pad-top-2rem pad-bot-2rem">
		Time to ditch degrees and switch to portfolios.
	</div>
	<div class="text-center pad-bot-2rem">
		<button class="bd bd-none pad-05 hoverable-bg-code" style="padding-left:2rem; padding-right:2rem; font-size: 1.2rem; font-weight: 600;" href="/courses">
			<div style="display:flex; color:white;">
				<i class="fa-solid fa-code" style="padding-right:0.5rem; padding-top:0.15rem;"></i> View Courses <i class="fa-solid fa-arrow-right-long" style="padding-left:0.5rem; padding-top:0.15rem;"></i>
			</div>
		</button>
	</div>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-5rem bg-overlay thin-top" 
style="margin-top:33rem;">
	<div class="landing-width">
		<div class="pad-bot-5rem">
			<h1 class="c-code" href="/courses">Founder Abdiel Lopez</h1>
			<p>
                I am a self taught software engineer. I taught myself through online courses. 
                But there was a problem. I realized to truely gain the knowledge to build
                something like make my own minecraft clone from scratch, make a game engine 
                from scratch, or my own website from scratch, it was a mangled mess of random tutorials and courses. And it sucked.
			</p>
            <p>
                I decided to fix online education, and build the software focused school of the future 
                that would replace college courses and the mangled mess of online learning. I didn't care how 
                long it would take or how hard it would be. It was inevitable someone would do it eventually. Why not me?
            </p>
		</div>
		<div class="pad-bot-5rem">
			<h1 class="c-code" href="/courses">The Mangled Mess</h1>
			<p>
                Yay! I learned the basics of scripting? What course do I take next?... 3 hours later, you are still searching.
			</p>
			<p>
                I found there is rarely an answer to that question. 
                Sparker has a pre-requisites system.
                Any course can set another course as its pre-requisite! 
                Now when you finish the "Intro to Scripting Games" course any
                courses that set "Intro to Scripting Games" as a pre-requisite 
                show up as next courses you can take!
			</p>
			<p>
                We also feature official course (well, not yet, but its coming).
			</p>
		</div>
		<div class="pad-bot-5rem">
			<h1 class="c-code" href="/courses">Quality of learning Experience</h1>
			<p>
                If you've taken online college you'll notice this is an expecially bad problem. 
                The teacher is hard to reach, and nothing he is teaching you makes sense!
			</p>
			<p>
                I decided sparker would teach all its official courses to in-person focus groups (I spent 6 months testing a course on 5 students.
                I ended up throwing the course away because it was fundamentally flawed).
				I wanted our courses to have a unique standard of quality.
			</p>
            <p>
                Each course on sparker alos features a builtin discord like chat! <a href="/paper/voxels-unity/view/44?channel_id=6">check it out</a>. 
                Now you can chat with other students, and get help directly from the teacher! Discord style code-highlighting is supported!
            </p>
            <p>
                Live video and voice chat is coming as soon as I can get it working, or find and pay more poeple to help me build it.
            </p>
		</div>
		<div class="pad-bot-5rem">
			<h1 class="c-code" href="/courses">Build a Portfolio...</h1>
			<p>
				Rather than a degree or certificate build a portfolio that you can use to showcase your skills.
			</p>
            <p>
                A degree does not show employers what you are capable of. A portfolio of work you've done will. Thats why sparker doesn't offer certificates. 
                Instead to "complete" a course you must make a certain number of showcase posts (exact number varies per course and is set by the course's author).
            </p>
		</div>
		<div class="pad-bot-5rem">
			<h1 class="c-code" href="/courses">Free Courses</h1>
			<p>
				All beginner courses are free! Yes, literally!
			</p>
            <p>
                Whats the point in paying for something if you don't know if its any good?
            </p>
		</div>
		<!--
		<div>
			<img src="/resources/images/portfolio.png">
		</div>
		-->
	</div>
	<div>
		<button class="bd bd-none pad-05 hoverable-bg-code" style="padding-left:2rem; padding-right:2rem; font-size: 1.2rem; font-weight: 600;" href="/courses">
			<div style="display:flex; color:white;">
				<i class="fa-solid fa-code" style="padding-right:0.5rem; padding-top:0.15rem;"></i> View Courses <i class="fa-solid fa-arrow-right-long" style="padding-left:0.5rem; padding-top:0.15rem;"></i>
			</div>
		</button>
	</div>
</div>

{{ template "_footer.html" . }}