{{ template "_header.html" . }}

<div class="pad-sides-5 pad-top-5rem pad-bot-2rem text-center">
	<h1>New Course</h1>
</div>
<div class="pad-sides-5 pad-top-2rem pad-bot-5rem">
	<div class="pad-sides-5 pad-top-5rem">
		<form class="form bg-overlay" action="/new" method="post">
			<div style="margin-bottom: 1rem;">
				<label>Course Unique Name ("spark3d.com/name")</label>
				<input class="form-input" name="name" placeholder="Name" value="{{ .Course.Name }}" required>
			</div>
			<div style="margin-bottom: 1rem;">
				<label>Course Title</label>
				<input class="form-input" name="title" placeholder="Title" value="{{ .Course.Title }}" required>
			</div>
			<div>
				<label>Description</label>
				<textarea style="width: 100%; max-width: 100%; min-width: 100%; min-height:3rem; padding: 0.5rem; margin-top: 0.5rem;" name="desc" placeholder="Description" required>{{ .Course.Desc }}</textarea>
			</div>
			<div>
				<button class="form-btn">Submit</button>
			</div>
		</form>
	</div>
</div>

{{ template "_footer.html" . }}