<!-- edit post, new post, read post -->
{{ template "post_script.html" . }}

<!-- post uses markdown -->
<link href="/resources/css/markdownScaleImg.css" rel="stylesheet">
<link href="/resources/css/markdown.css" rel="stylesheet">

<!-- if the post was preloaded -->

{{ if .Post }}
    {{ if ne .Post.Markdown "" }}
    <div x-data x-transition x-show="$store.post.visible === true" style="position:fixed; top:0; bottom:0; right:0; left:0; z-index:500; max-width: 100%;" class="bg-overlay pad-sides-5">
    {{ else }}
    <div x-data x-transition x-cloak x-show="$store.post.visible === true" style="position:fixed; top:0; bottom:0; right:0; left:0; z-index:500; max-width: 100%;" class="bg-overlay pad-sides-5">
    {{ end }}
{{ else }}
<div x-data x-transition x-cloak x-show="$store.post.visible === true" style="position:fixed; top:0; bottom:0; right:0; left:0; z-index:500; max-width: 100%;" class="bg-overlay pad-sides-5">
{{ end }}
	<!-- top bar -->
	<div style="display:flex; flex-direction:row; flex-wrap:nowrap; padding-top:0.5rem;">
		<div @click="closePostView()" style="padding-left:0.8rem; padding-right:0.8rem;" class="pad-05 hoverable bd"><i class="fa-solid fa-xmark"></i></div>
		<div style="margin-left:auto;" x-show="$store.post.state !== 'new' && $store.post.state !== 'edit'">
			<div x-show="$store.post.commentsVisible === false" @click="openPostComments()" class="pad-05 hoverable bd">open comments</div>
			<div x-show="$store.post.commentsVisible === true" @click="closePostComments()" class="pad-05 hoverable bd">close comments</div>
		</div>
        <div x-show="$store.post.state !== 'view'" style="margin-left:auto;">
            <div @click="postUpdatePost()" x-show="$store.post.state === 'edit'" class="pad-05 bd bd-none hoverable-bg-code" style="width:100%;">
                Save
            </div>
            <div @click="postNewPost()" x-show="$store.post.state === 'new'" class="pad-05 bd bd-none hoverable-bg-code" style="width:100%;">
                Publish
            </div>
        </div>
	</div>

	<div style="position:fixed; top:3rem; bottom:0; right:5%; left:5%;">

		<!-- post view (below are comments) -->
		<div hidescrollbar style="overflow-y:scroll; position:absolute; top:0; bottom:0; left:0; right:0;">
			<div style="display:flex; flex-direction:row; flex-wrap:nowrap; padding-top:0.5rem;">
                <div id="postAuthor" x-data x-show="$store.post.state === 'view'">
                    by <nada class="c-bold" style="margin-top:0.5rem; font-weight:600;" href="/{{ .Post.User.Username }}" external>
                        @{{ .Post.User.Username }}<i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </nada>
                </div>

				{{ if .LoggedIn }}
					<!-- go back to viewing post -->
					<div x-show="$store.post.state === 'edit'" style="margin-left:auto; padding-left:0.8rem; padding-right:0.8rem;" @click="openPostView();" class="hoverable pad-05 bd">
						<i class="fa-solid fa-xmark"></i>
					</div>

					<!-- edit post -->
					<div x-show="$store.post.state === 'view'" style="margin-left:auto;" @click="editPostView(); loadPostPlaintext();" class="hoverable pad-05 bd">
						<i class="fa-solid fa-pen-to-square"></i>
					</div>
				{{ end }}
			</div>

			<!-- post viewing -->
            <div x-show="$store.post.state === 'view'" >
                <h1 id="postTitle">{{ .Post.Title }}</h1>
                <div markdown id="postMarkdown" style="padding-bottom:2rem;">
                    {{ .Post.MarkdownTemplateHTML }}
                </div>
            </div>

			<!-- post editing and creating -->
			<div x-show="$store.post.state !== 'view'" style="height:calc(100% - 2.1rem); overflow-y: scroll;">
                <input id="postRawTitle" style="font-size:2rem; width:100%; margin-bottom: 0.5rem;" class="pad-none bd-none hide-focus" placeholder="Title">
                <div style="height:max-content;">
                    <textarea id="postRawMarkdown" style="max-width:100%; min-width: 100%; height: 100%; font-size: 1rem; line-height: 1.5rem;" class="bd-none pad-none hide-focus" placeholder="My new post..."></textarea>
                </div>
			</div>

			<!-- view comments -->
			<div 
			x-transition 
			x-show="$store.post.commentsVisible === true" 
			style="position:fixed; top:3rem; bottom:4rem; left:0; right:0; z-index:501; overflow-y: scroll; padding-right:5%; padding-left:5%;" 
			class="bg-overlay">
				<div>
					<div style="margin-top:2rem; margin-bottom:1rem; margin-right:1rem; margin-left:1rem;">This is the beginning of the comments.</div>
					<div id="postComments">
						<div style="border-top: 0.08rem solid var(--c-light); margin-top:0.5rem; margin-right:1rem; margin-left:1rem;">
							<p>no comments yet.</p>
						</div>
					</div>
				</div>
			</div>

            <!-- comment form -->
			<div
            x-transition
			x-show="$store.post.commentsVisible" 
			style="position:fixed; bottom:0; left:0; right:0; z-index:502; padding-bottom:1rem; padding-top:1rem;" 
			class="bg-overlay bd pad-sides-5">
				<form id="postCommentForm">
					<input id="postCommentInput" placeholder="comment..." class="pad-05 bd thin-light bg-overlay" style="width:100%;">
				</form>
			</div>
		</div>
	</div>
</div>