{{ template "_header.html" . }}

<!-- so users can view posts -->
{{ template "post.html" . }}

<div id="profileUsername" hidden>{{ .ProfileUser.Username }}</div>

<link  href="/resources/css/courses.css" rel="stylesheet">
<script src="/resources/scripts/courseUtils.js"></script>
<script src="/resources/scripts/user.js"></script>

<div class="pad-sides-5 pad-bot-2rem pad-top-5rem text-center">
	<h1>{{ .ProfileUser.Name }}</h1>
	<p>@{{ .ProfileUser.Username }}</p>
	<p>
		{{ .ProfileUser.Bio }}
	</p>
</div>
<div class="bg-overlay pad-top-2rem">
	<h2 class="pad-sides-5">Taken Courses</h2>
    <div class="course-cards" id="takenCourses">
    </div>
	<h2 class="pad-sides-5">Authored Courses</h2>
    <div class="course-cards" id="authoredCourses">
        <!--
            <div>
                <div class="course-card-wrapper">
                    <div class="course-card hoverable" href="/{{ .User.Username }}/{{ .Name }}">
                        <div class="course-card-img-wrapper">
                            <img class="course-card-img" src="{{ .Release.ImageURL }}">
                        </div>
                        <div class="course-card-content">
                            <h3 class="c-bold course-card-title">{{ .Title }}</h3>
                            <div class="course-card-subtitle">{{ .Subtitle }}</div>
                        </div>
                    </div>
                </div>
                <p class="course-card-footer">
                    by <a href="/{{ .User.Username }}">@{{ .User.Username }}</a>
                </p>
            </div>
        -->
    </div>
</div>

{{ template "_footer.html" . }}