{{ template "settings_header.html" . }}

<div>
	<div style="margin-bottom:3rem;">
		{{ if .User.HasStripeConnection }}
			<button href="/new" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;" class="bd">
				New Course
			</button>
		{{ else }}
			<button disabled style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;" class="bd">
				New Course
			</button>
			<p class="c-grey">You must connect to stripe before you can upload courses or accept payouts.</p>
		{{ end }}
	</div>
	<div style="margin-bottom:3rem;">
		{{ if not .User.Verified }}
			<p class="c-grey">You must verify your email before you can upload courses or accept payouts.</p>
		{{ else }}
			<h1>Stripe Payouts</h1>
			{{ if not .User.HasStripeConnection }}
			<button href="/settings/stripe/connect" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
				Connect to Stripe Payouts
			</button>
			<p class="c-grey">You must sign up with stripe before you can post a new course and/or accept payments.</p>
			{{ else }}
				<p>
					<button href="/settings/stripe/connect" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
						Update Stripe Info
					</button>
				</p>
			{{ end }}

			<h1>Github Courses</h1>
			{{ if not .User.HasGithubConnection }}
				<button href="/settings/github/connect" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
					Enable Github Based Courses
				</button>
				<p class="c-grey">You will be redirected to github to allow us access to your github repos.</p>
			{{ else }}
				<p class="c-grey">Github courses enabled <i class="fa-solid fa-check"></i></p>
			{{ end }}
			<!-- TODO refresh github oauth token? NOPE! github oauth tokens currently never expire! -->
		{{ end }}
	</div>
	<h1>Payouts</h1>
	<p class="c-grey">
		We take a 15% cut per sale.
	</p>
	<div>
		{{ if .Courses }}
			{{ range .Courses }}
				<div class="thin-all bd" style="padding:0.5rem; margin-bottom:1rem;">
					<h2>{{ .Title }}</h2>
					{{ if not .GetPurchasesLogError }}
						<p class="c-grey">No purchases on this course yet</p>
					{{ else }}
						{{ range .GetPurchasesLogError }}
							<div style="margin-bottom:0.5rem;">
								<p>Paid: ${{ .GetAmountPaidUSD }} USD</p>
								<p>Your cut: ${{ .GetAuthorsCutUSD }} USD <span class="c-grey"> (Estimated. Not including taxes or transfer fees)</span></p>
							</div>
						{{ end }}
					{{ end }}
				</div>
			{{ end }}
		{{ else }}
			<p class="c-grey">You don't have any purchases yet.</p>
		{{ end }}
	</div>
	<form action="/settings/stripe/connect" style="margin-bottom:3rem;">
	</form>
</div>

{{ template "settings_footer.html" . }}