{{ template "settings_header.html" . }}

<div class="pad-sides-5 pad-top-5rem">
	<form action="/settings/edit/user" style="margin-bottom:3rem;">
		<h1>User</h1>
		<label>Name</label>
		<div>
			<input style="padding:0.5rem"  class="bg bd thin-grey" value="{{ .User.Name }}">
		</div>
		<label>Username</label>
		<div>
			<input style="padding:0.5rem" class="bd bg thin-grey" placeholder="username" value="{{ .User.Username }}">
		</div>
		<label>Bio</label>
		<div>
			<textarea style="padding:0.5rem"  class="bg bd thin-grey">{{ .User.Bio }}</textarea>
		</div>
		<div style="margin-top:1rem;">
			<button type="submit" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;" type="submit">Save</button>
		</div>
	</form>
	<form action="/settings/edit/email" style="margin-bottom:3rem;">
		<h1>Email</h1>
		<label>
			Email {{ if not .User.Verified }} <i class="fa-solid fa-triangle-exclamation"></i> {{ end }}
		</label>
		<div>
			<input style="padding:0.5rem"  class="bg bd thin-grey" placeholder="email" value="{{ .User.Email }}">
		</div>
		{{ if not .User.Verified }}
		<p>
			<a href="/login/verify/new">verify email</a>
			<p class="c-grey">We will send you an email with a verification link</p>
		</p>
		{{ end }}
		<div style="margin-top:1rem;">
			<button style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;" class="bd">Save</button>
		</div>
	</form>
</div>

{{ template "settings_footer.html" . }}