{{ template "settings_header.html" . }}

<div>
	<div style="margin-bottom:2rem;">
		{{ if .User.Verified }}
			<h3>New course</h3>
			<div class="pad-sides-5">
					<button href="/new" external style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;" class="bd">
						New Course <i class="fa-solid fa-up-right-from-square"></i>
					</button>
			</div>
		{{ end }}
	</div>
	<div style="margin-bottom:3rem;">
		{{ if not .User.Verified }}
			<p class="c-grey">You must <a href="/settings">verify your email</a> before you can upload courses or accept payouts.</p>
		{{ else }}

			<!-- stripe -->
			<h3 style="margin-top:3rem;">Stripe Connection</h3>
			<div class="pad-sides-5">
				{{ if .User.HasStripeConnection }}
					<p>
						<button href="/settings/stripe/login" external class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
							Stripe Dashboard <i class="fa-solid fa-up-right-from-square"></i>
						</button>
						<p class="c-grey">View all your payments live in a dashboard built by stripe.</p>
					</p>
					{{ if .StripeConnection.DetailsSubmittedLogError }}
						<p>
							<button href="/settings/stripe/connect" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
								Update Stripe Info <i class="fa-solid fa-up-right-from-square"></i>
							</button>
							<p class="c-grey">Stripe connected and all required details have been submitted <i class="fa-solid fa-check"></i>. Use this to update your stripe info if you need to.</p>
						</p>
					{{ else }}
						<p>
							<button href="/settings/stripe/connect" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
								<i class="fa-solid fa-triangle-exclamation"></i> Finish submitting stripe info <i class="fa-solid fa-up-right-from-square"></i>
							</button>
							<p>Oh no! You need to finish filling in your stripe info before you can accept any payments!</p>
						</p>
					{{ end }}
				{{ else }}
					<button href="/settings/stripe/connect" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
						Connect to Stripe Payouts <i class="fa-solid fa-up-right-from-square"></i>
					</button>
					<p class="c-grey">You must sign up with stripe before you can create a paid course and accept payments.</p>
				{{ end }}
			</div>

			<!-- github -->
			<h3 style="margin-top:3rem;">Github Connection</h3>
			<div class="pad-sides-5">
				{{ if not .User.HasGithubConnection }}
					<button href="/settings/github/connect" class="bd" style="padding:0.5rem; background-color:var(--c-code); width:max-content; border:none; color:white;">
						Enable Github Based Courses
					</button>
					<p class="c-grey">You will be redirected to github to allow us access to your github repos.</p>
				{{ else }}
					<p class="c-grey">Github connected <i class="fa-solid fa-check"></i></p>
					<p>Having trouble? <a href="/settings/github/connect">reconnect</a></p>
				{{ end }}
			</div>

			<h3 style="margin-top:3rem;">Recent Course Purchases</h3>
			<div>
				<p class="c-grey pad-sides-5">
					You get an 80% percent cut. We take a 20% cut per sale.
				</p>
				{{ if .Courses }}
					{{ range .Courses }}
						<div class="thin-all bd" style="padding-top:0rem; margin-bottom:1rem;">
							<h4 style="margin-left:1rem;">{{ .Title }}:</h4>
							{{ if not .GetPurchasesLogError }}
								<p class="c-grey">No purchases on this course yet</p>
							{{ else }}
								{{ range .GetPurchasesLogError }}
								<div class="pad-sides-5">
									<div style="margin-bottom:0.5rem; margin-right:1rem;" class="bd thin-light pad-05">
										<p>Purchased by: <a href="/{{ .User.Username }}">@{{ .User.Username }}</a></p>
										<p>Paid: ${{ .GetAmountPaidUSD }} USD</p>
										<p>Your cut: ${{ .GetAuthorsCutUSD }} USD <span class="c-grey"> (Estimated)</span></p>
									</div>
								</div>
								{{ end }}
							{{ end }}
						</div>
					{{ end }}
					<div class="pad-sides-5" style="margin-right:1rem;">
						<div class="pad-05 bd thin-light text-center" style="width:100%; display:block;">Use Stripe Dashboard to see all payments.</div>
					</div>
				{{ else }}
					<p class="c-grey">You don't have any purchases yet.</p>
				{{ end }}
			</div>
		{{ end }}
	</div>
	<form action="/settings/stripe/connect" style="margin-bottom:3rem;">
	</form>
</div>

{{ template "settings_footer.html" . }}