{{ template "_header.html" . }}

<link href="/resources/css/courses.css" rel="stylesheet">

<style>
	#settings{{ .Menu }} {
		background-color: var(--c-code);
		color: var(--c-white);
	}

	.settingsMenuItem {
		border-radius: 0.5rem;
		padding: 0.5rem;
	}
</style>

<div class="pad-sides-5 pad-top-5rem text-center">
	<h2>Settings</h2>
</div>
<div style="display:flex;">
	<div class="thin-grey-right" style="padding-top:0; padding-right:0.5rem; padding-left:5%;">
		<p class="settingsMenuItem" style="margin-top:0;" href="/settings" id="settingsGeneral">General</p>
		<p class="settingsMenuItem" href="/settings/courses" id="settingsCourses">Courses</p>
		<p class="settingsMenuItem" href="/settings/coupons" id="settingsCoupons">Coupons</p>
	</div>
	<div style="margin-left:1rem;">
		