{{ template "_header.html" . }}

<link href="/resources/css/courses.css" rel="stylesheet">

<div class="pad-sides-5 pad-bot-2rem pad-top-5rem text-center">
	<h1>{{ .ProfileUser.Name }}</h1>
	<p>@{{ .ProfileUser.Username }}</p>
	<p>
		{{ .ProfileUser.Bio }}
	</p>
</div>
<div class="pad-sides-5 bg-overlay pad-top-2rem">
	<h2>Taken Courses</h2>
	{{ if .ProfileCourses }}
		<div class="course-cards">
			{{ range .ProfileCourses }}
				<div class="course-card-wrapper">
					<div class="course-card" href="/{{ .User.Username }}/{{ .Name }}">
						<div class="course-card-img-wrapper">
							<img class="course-card-img" style="background-image:url(/resources/images/homepage.png);">
						</div>
						<div class="course-card-content">
							<h2 class="c-bold course-card-title">{{ .Title }}</h2>
						</div>
					</div>
					<p><a href="/:course/view/:versionID/posts/user/:username">{{ .User.Username }}'s posts</a></p>
					<p>by <a href="/{{ .User.Username }}">@{{ $.User.Username }}</a></p>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<p>No courses taken yet.</p>
	{{ end }}
	<h2>Authored Courses</h2>
	{{ if .AuthoredCourses }}
		<div class="course-cards">
			{{ range .AuthoredCourses }}
				<div class="course-card-wrapper">
					<div class="course-card" href="/{{ $.ProfileUser.Username }}/{{ .Name }}">
						<div class="course-card-img-wrapper">
							<img class="course-card-img" style="background-image:url(/resources/images/homepage.png);">
						</div>
						<div class="course-card-content">
							<h2 class="c-bold course-card-title">{{ .Title }}</h2>
						</div>
					</div>
					<p><a href="/:course/view/:versionID/posts/user/:username">{{ $.ProfileUser.Username }}'s posts</a></p>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<p>No authored courses yet.</p>
	{{ end }}
</div>

{{ template "_footer.html" . }}