{{ template "_header.html" . }}

<link href="/resources/css/courses.css" rel="stylesheet">

<div class="pad-sides-5 pad-top-5rem text-center">
	<h1>{{ .ProfileUser.Name }}</h1>
	<p>@{{ .ProfileUser.Username }}</p>
	<p>
		{{ .ProfileUser.Bio }}
	</p>
	{{ if eq .ProfileUser.ID .User.ID }}
		<a href="/user/payouts">See payouts</a>
	{{ end }}
</div>
<div class="pad-sides-5">
	<h2>Courses</h2>
	{{ if .ProfileCourses }}
		<div class="course-cards">
			{{ range .ProfileCourses }}
				<div class="course-card">
					<h2 href="/{{ .Name }}">{{ .Title }}</h2>
					<a href="/:course/view/:versionID/posts/user/:username">User posts</a>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<p>No courses taken yet.</p>
	{{ end }}
</div>

{{ template "_footer.html" . }}