{{ template "_header.html" . }}

<link href="/resources/css/courses.css" rel="stylesheet">

<div class="pad-sides-5 pad-bot-2rem pad-top-5rem text-center">
	<h1>{{ .ProfileUser.Name }}</h1>
	<p>@{{ .ProfileUser.Username }}</p>
	<p>
		{{ .ProfileUser.Bio }}
	</p>
</div>
<div class="pad-sides-5 bg-overlay pad-top-2rem">
	<h2>Taken Courses</h2>
	{{ if .ProfileCourses }}
		<div class="course-cards">
			{{ range .ProfileCourses }}
				<div>
					<div class="course-card-wrapper">
						<div class="course-card hoverable" href="/{{ .User.Username }}/{{ .Name }}">
							<div class="course-card-img-wrapper">
								<img class="course-card-img" src="{{ .Release.ImageURL }}">
							</div>
							<div class="course-card-content">
								<h3 class="c-bold course-card-title">{{ .Title }}</h3>
								<div class="course-card-subtitle">{{ .Subtitle }}</div>
							</div>
						</div>
					</div>
					<p class="course-card-footer">
						by <a href="/{{ .User.Username }}">@{{ .User.Username }}</a>
					</p>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<p>No courses taken yet.</p>
	{{ end }}
	<h2>Authored Courses</h2>
	{{ if .AuthoredCourses }}
		<div class="course-cards">
			{{ range .AuthoredCourses }}
				<div>
					<div class="course-card-wrapper">
						<div class="course-card hoverable" href="/{{ .User.Username }}/{{ .Name }}">
							<div class="course-card-img-wrapper">
								<img class="course-card-img" src="{{ .Release.ImageURL }}">
							</div>
							<div class="course-card-content">
								<h3 class="c-bold course-card-title">{{ .Title }}</h3>
								<div class="course-card-subtitle">{{ .Subtitle }}</div>
							</div>
						</div>
					</div>
					<p class="course-card-footer">
						by <a href="/{{ .User.Username }}">@{{ .User.Username }}</a>
					</p>
				</div>
			{{ end }}
		</div>
	{{ else }}
		<p>No authored courses yet.</p>
	{{ end }}
</div>

{{ template "_footer.html" . }}