{{ template "_header.html" . }}

{{ template "post.html" . }}

<script defer>
    document.addEventListener("alpine:init", function(event) {
        Alpine.store("view", {
            state: "course",
            sectionID: "",
        });
    });

    function viewCourse(sectionID="") {
        Alpine.store("view").state = "course";
    }

    function viewPosts() {
        Alpine.store("view").state = "posts";
    }

    function viewChat() {
        Alpine.store("view").state = "chat";
    }
</script>

<div style="position:absolute; bottom:0; left:0; top:60.5625px; right:0;">

    <!-- views -->
    <div x-data style="width:100%; height:100%;">
        <div class="bg" style="position:absolute; width:100%; height:100%; z-index:1; overflow-y: scroll;">
            {{ template "view_course.html" . }}

        </div>
        <div x-show="$store.view.state === 'posts'" class="bg" style="position:absolute; width:100%; height:100%; z-index:3; overflow-y: scroll;">
            {{ template "view_posts.html" . }}

        </div>
        <div x-show="$store.view.state === 'chat'" class="bg" style="position:absolute; width:100%; height:100%; z-index:4; overflow-y: scroll;">
            {{ template "view_chat.html" . }}

        </div>
    </div>

    <!-- bottom navigation bar -->
    <div x-data style="width:100%; padding:0; font-size:1.2rem; z-index:5; position:fixed; bottom:1rem;">
        <div class="shadow bd bg-overlay pad-05" style="transform:translate(-50%); margin-left:50%; width:20rem; max-width:90%; display:flex; flex-direction:row; justify-content:center;">

            <!-- course / menu -->
            <span title="Course View and Menu"
            @click="viewCourse()"
            style="margin-right:auto;"
            class="hoverable pad-05 bd"
            :class="$store.view.state === 'course' ? 'hovered' : '' ">
                <i class="fa-solid fa-book-open"></i>
            </span>

            <!-- view posts -->
            <span title="Posts"
            @click="viewPosts()"
            class="hoverable pad-05 bd"
            :class="$store.view.state === 'posts' ? 'hovered' : '' ">
            <i style="padding-left:0.11rem; padding-right:0.11rem;" class="fa-solid fa-message"></i>
            </span>

            <!-- view chat -->
            <span title="Chat"
            @click="viewChat()"
            style="margin-left:auto;"
            class="hoverable pad-05 bd"
            :class="$store.view.state === 'chat' ? 'hovered' : '' ">
            <i class="fa-solid fa-comments"></i>
            </span>
        </div>
    </div>
</div>

<script defer src="/resources/alpinejs@3.x.x/cdn.min.js"></script>