<link href="/resources/css/markdown2.css" rel="stylesheet">

<script>
    document.addEventListener("alpine:init", function(event) {
        Alpine.store("course", {
            menuOpen: false,
        })
    });

    function openMenu() {
        Alpine.store("course").menuOpen = true;
    }

    function closeMenu() {
        Alpine.store("course").menuOpen = false;
    }
</script>

<!-- course menu with contents -->
<div x-data x-cloak x-show="$store.course.menuOpen && $store.view.state === 'course'" class="bg" style="position:fixed; top:0; bottom:0; left:0; right:0; z-index:2;">
    <div class="scale-container">
        <div class="scale-item" style="display:flex; flex-direction:row; padding-top:0.5rem; padding-bottom:0.5rem;">
            <span @click="closeMenu()" class="pad-05 hoverable bd" style="margin-left:auto; width:2.25rem; padding-left:0.8rem;">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>
        <div class="scale-item">
            <div style="display:flex;" class="pad-05">
                <span>00 - Welcome</span>
                <i style="margin-left:auto;" class="fa-solid fa-check"></i>
            </div>
            <div style="display:flex;" class="pad-05">
                <span>01 - Meshes</span>
                <i style="margin-left:auto;" class="fa-solid fa-check"></i>
            </div>
        </div>
    </div>
</div>

<style>
.background-blurred-image {
    content: "";
    margin-left:50%;
    width:150%;
    background-size: cover;
    transform:translate(-50%, 0);
    filter:blur(1px);
    opacity:0.5;
}
</style>

<div style="overflow:hidden; height:15rem;">
    <div style="position:absolute; top:0; width:100%; z-index:1;">
        <div class="scale-container">
            <div class="scale-item pad-top-2rem"> 
                <h1 class="text-shadow">Course Name</h1>
                <span>v1.1.1</span>
                <span style class="bg-code bd pad-05">preview</span>
            </div>
            <div class="scale-item pad-top-2rem" style="display:flex;"> 
                <div style="margin-left:auto;" class="pad-05 bd hoverable-bg-overlay">
                    <i class="fa-solid fa-gear"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="background-blurred-image" style="z-index:-1; height:15rem; background-image: url('/resources/images/planet.png');">
    </div>
</div>

<div class="bg-overlay pad-bot-5rem" style="z-index:2;">
    <div class="scale-container">
        <div style="display:flex; justify-content:center; padding-top:0.5rem; padding-bottom:0.5rem;" class="scale-item">
            <span x-data @click="openMenu()" class="pad-05 hoverable bd" style="padding-left:0.55rem; padding-right:0.55rem;">
                <i class="fa-solid fa-bars"></i>
            </span>
            <span class="pad-05" id="courseSectionName">
                name of section
            </span>
            <span class="pad-05 hoverable bd" style="margin-left:auto;">
                <i class="fa-solid fa-pen-to-square"></i>
            </span>
        </div>
    </div>
    
    <div markdown2 class="scale-container"  id="courseMarkdown">
        <p>Its showcase time!</p>
        <p>At the bottom of the page there is a "New Showcase Post" button. Use that to make a new showcase post... but first things first you need a screenshot or youtube video for your post!</p>
        <p>If you have a youtube video you can embed it into your post by doing the following:</p>
        <pre><code>![](https://www.youtube.com/watch?v=iw8U47Nz2TA)
        </code></pre>
        <p>Which will give the following:</p>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/iw8U47Nz2TA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></p>
        <p>If you have a picture you can upload it to imgur.com (twitter is also a good option), and then paste the image link like this:</p>
        <pre><code>![](https://pbs.twimg.com/media/FT0AuTZWAAEgQHU?format=jpg&amp;name=medium)
        </code></pre>
        <p>Which will give the following:</p>
        <p><img src="https://pbs.twimg.com/media/FT0AuTZWAAEgQHU?format=jpg&amp;name=medium" alt=""></p>
        <p>Alrighty! Now go click that "New Showcase Post" button!</p>
    
        <h1 id="voxel-mesh" style="cursor: pointer;">Voxel Mesh</h1>
        <p>Why go through all the trouble of making a single Quad?!</p>
        <p>If our whole world is going to be made out of "voxels", why not just use Unity's builtin cube, and make a million of them?</p>
        <p>If we made a world out of millions of cubes, we are going to be rendering, well, millions of cubes... including cubes that we won't even be able to see!</p>
        <p>Take for example a voxel terrain made of Unity's default cubes:</p>
        <p><img src="/media/45/name/2D_voxel_terrain_unoptimized.png" alt="2D voxel terrain unoptimized"></p>
        <p>You can see that cubes that are not visible to the player are still going to get rendered, and this will give us horrible performance. To solve this we can split each cube into 6 individual quads (1 quad for each side of the cube), and then check if the current voxel has neighboring voxel on that side. If it does, then we don't create a quad on that side of the voxel.</p>
        <p><img src="/media/45/name/2D_voxel_terrain_optimized.png" alt="2D voxel terrain optimized"></p>
        <p>By only creating quads where necessary we will get an optimized mesh! And as it turns out, Minecraft does this for its terrain!</p>
        <p>For now we will build a voxel using 6 individual quads. Instead of hand coding everything we're going to use "lookup tables".</p>
        <p>Create a new script in the Assets folder called "Tables.cs".</p>
        <p>Open the script and write the following code into it.</p>
        <pre tabindex="0" style="font-family: 'Red Hat Mono', monospace; color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span><span style="color:#6ab825;font-weight:bold">using</span> <span style="color:#447fcf;text-decoration:underline">UnityEngine</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span><span style="color:#6ab825;font-weight:bold">public</span> <span style="color:#6ab825;font-weight:bold">static</span> <span style="color:#6ab825;font-weight:bold">class</span> <span style="color:#447fcf;text-decoration:underline">Tables</span>
        </span></span><span style="display:flex;"><span>{
        </span></span><span style="display:flex;"><span>    <span style="color:#999;font-style:italic">// all 8 possible vertices for a voxel</span>
        </span></span><span style="display:flex;"><span>    <span style="color:#6ab825;font-weight:bold">public</span> <span style="color:#6ab825;font-weight:bold">static</span> <span style="color:#6ab825;font-weight:bold">readonly</span> Vector3[] Vertices = <span style="color:#6ab825;font-weight:bold">new</span> Vector3[<span style="color:#3677a9">8</span>]
        </span></span><span style="display:flex;"><span>    {
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),
        </span></span><span style="display:flex;"><span>    };
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>    <span style="color:#999;font-style:italic">// vertices to build a quad for each side of a voxel</span>
        </span></span><span style="display:flex;"><span>    <span style="color:#6ab825;font-weight:bold">public</span> <span style="color:#6ab825;font-weight:bold">static</span> <span style="color:#6ab825;font-weight:bold">readonly</span> <span style="color:#6ab825;font-weight:bold">int</span>[,] QuadVertices = <span style="color:#6ab825;font-weight:bold">new</span> <span style="color:#6ab825;font-weight:bold">int</span>[<span style="color:#3677a9">6</span>, <span style="color:#3677a9">4</span>]
        </span></span><span style="display:flex;"><span>    {
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// quad order</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// right, left, up, down, front, back</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// 0 1 2 2 1 3 &lt;- triangle numbers</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// quads</span>
        </span></span><span style="display:flex;"><span>        {<span style="color:#3677a9">1</span>, <span style="color:#3677a9">2</span>, <span style="color:#3677a9">5</span>, <span style="color:#3677a9">6</span>}, <span style="color:#999;font-style:italic">// right quad</span>
        </span></span><span style="display:flex;"><span>        {<span style="color:#3677a9">4</span>, <span style="color:#3677a9">7</span>, <span style="color:#3677a9">0</span>, <span style="color:#3677a9">3</span>}, <span style="color:#999;font-style:italic">// left quad</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        {<span style="color:#3677a9">3</span>, <span style="color:#3677a9">7</span>, <span style="color:#3677a9">2</span>, <span style="color:#3677a9">6</span>}, <span style="color:#999;font-style:italic">// up quad</span>
        </span></span><span style="display:flex;"><span>        {<span style="color:#3677a9">1</span>, <span style="color:#3677a9">5</span>, <span style="color:#3677a9">0</span>, <span style="color:#3677a9">4</span>}, <span style="color:#999;font-style:italic">// down quad</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        {<span style="color:#3677a9">5</span>, <span style="color:#3677a9">6</span>, <span style="color:#3677a9">4</span>, <span style="color:#3677a9">7</span>}, <span style="color:#999;font-style:italic">// front quad</span>
        </span></span><span style="display:flex;"><span>        {<span style="color:#3677a9">0</span>, <span style="color:#3677a9">3</span>, <span style="color:#3677a9">1</span>, <span style="color:#3677a9">2</span>}, <span style="color:#999;font-style:italic">// back quad</span>
        </span></span><span style="display:flex;"><span>    };
        </span></span><span style="display:flex;"><span>}
        </span></span></code></pre><p>In the above script we have a <code>Vertices</code> table that contains all 8 possible vertices needed to make a voxel.</p>
        <p>Then we have a <code>QuadVertices</code> table has indexes for finding vertices in the <code>Vertices</code> table to build 6 individual quads.</p>
        <p>You'll also notice I added comment with the triangle numbers we will need for each quad, namely <code>0 1 2 2 1 3</code>. Because of how the table has been set up we can use the same triangle numbers for all the quads.</p>
        <p>Now lets make a voxel. Create a new folder called "Voxel", and in it a new scene and script called voxel.</p>
        <p><img src="/media/45/name/project_assets_voxel.png" alt="project assets voxel"></p>
        <p>Open the Voxel scene and create a new empty GameObject called "Voxel". Add the Voxel.cs script to the GameObject.</p>
        <p>Open the Voxel.cs script and write the following code into it.</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span><span style="color:#6ab825;font-weight:bold">using</span> <span style="color:#447fcf;text-decoration:underline">UnityEngine</span>;
        </span></span><span style="display:flex;"><span><span style="color:#bbb">
        </span></span></span><span style="display:flex;"><span><span style="color:#bbb">[RequireComponent(typeof(MeshFilter))]</span>
        </span></span><span style="display:flex;"><span><span style="color:#bbb">[RequireComponent(typeof(MeshRenderer))]</span>
        </span></span><span style="display:flex;"><span><span style="color:#6ab825;font-weight:bold">public</span> <span style="color:#6ab825;font-weight:bold">class</span> <span style="color:#447fcf;text-decoration:underline">Voxel</span> : MonoBehaviour
        </span></span><span style="display:flex;"><span>{
        </span></span><span style="display:flex;"><span>    <span style="color:#6ab825;font-weight:bold">void</span> Start()
        </span></span><span style="display:flex;"><span>    {
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// number of quads in a voxel</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> quadsNum = <span style="color:#3677a9">6</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// vertices and triangles for a single voxel</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> vertices = <span style="color:#6ab825;font-weight:bold">new</span> Vector3[<span style="color:#3677a9">4</span> * quadsNum];
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> triangles = <span style="color:#6ab825;font-weight:bold">new</span> <span style="color:#6ab825;font-weight:bold">int</span>[<span style="color:#3677a9">6</span> * quadsNum];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">int</span> vertexOffset = <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">int</span> triangleOffset = <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// for each side of the voxel</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">for</span> (<span style="color:#6ab825;font-weight:bold">int</span> side = <span style="color:#3677a9">0</span>; side &lt; quadsNum; side++)
        </span></span><span style="display:flex;"><span>        {
        </span></span><span style="display:flex;"><span>            <span style="color:#999;font-style:italic">// create mesh for quad on this side of the voxel</span>
        </span></span><span style="display:flex;"><span>			<span style="color:#999;font-style:italic">// TODO</span>
        </span></span><span style="display:flex;"><span>        }
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> mesh = <span style="color:#6ab825;font-weight:bold">new</span> Mesh();
        </span></span><span style="display:flex;"><span>        mesh.vertices = vertices;
        </span></span><span style="display:flex;"><span>        mesh.triangles = triangles;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        mesh.RecalculateNormals();
        </span></span><span style="display:flex;"><span>        mesh.RecalculateBounds();
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> filter = gameObject.GetComponent&lt;MeshFilter&gt;();
        </span></span><span style="display:flex;"><span>        filter.mesh = mesh;
        </span></span><span style="display:flex;"><span>    }
        </span></span><span style="display:flex;"><span>}
        </span></span><span style="display:flex;"><span>
        </span></span></code></pre><p>We first create a variable called <code>quadsNum</code> that tells us how many quads to draw for a single voxel. Obviously this number is 6, but we make the variable so the code reads nicer.</p>
        <p>We then create 2 arrays. The first being called <code>vertices</code>, and it will hold the number of vertices needed to make a voxel (which is 4 vertices per quad times 6 sides of a voxel). The second array, called <code>triangles</code>, will hold the number of triangles needed for the mesh of a single voxel and it is 6 triangle numbers per quad times the number of quads.</p>
        <h2 id="vertices" style="cursor: pointer;">Vertices</h2>
        <p>Now remove the <code>TODO</code> comment and replace it with the following code.</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>            <span style="color:#999;font-style:italic">// offset using currentVertex</span>
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">0</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">0</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">1</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">1</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">2</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">2</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">3</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">3</span>]];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>			<span style="color:#999;font-style:italic">// TODO triangles</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            vertexOffset += <span style="color:#3677a9">4</span>;
        </span></span></code></pre><p>We use the <code>vertexOffset</code> as an offset to know where in the vertices array to place the vertices for the current quad. We then increase the <code>vertexOffset</code> after adding the vertices, so that the next loop will add vertices at the correct offset for the next quad.</p>
        <p>When we are offsetting into the <code>Tables.QuadVertices</code> with the <code>side</code> variable (the first offset slot has the <code>side</code> variable in it), we are accessing the quads vertex index for that specific side:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>Tables.Vertices[Tables.QuadVertices[<span style="color:#3677a9">0</span>, ?]];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic">// is getting...</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>QuadVertices {
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">1</span>, <span style="color:#3677a9">2</span>, <span style="color:#3677a9">5</span>, <span style="color:#3677a9">6</span>}, <span style="color:#999;font-style:italic">// &lt;- this</span>
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">4</span>, <span style="color:#3677a9">7</span>, <span style="color:#3677a9">0</span>, <span style="color:#3677a9">3</span>},
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">3</span>, <span style="color:#3677a9">7</span>, <span style="color:#3677a9">2</span>, <span style="color:#3677a9">6</span>},
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">1</span>, <span style="color:#3677a9">5</span>, <span style="color:#3677a9">0</span>, <span style="color:#3677a9">4</span>}, 
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">5</span>, <span style="color:#3677a9">6</span>, <span style="color:#3677a9">4</span>, <span style="color:#3677a9">7</span>},
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">0</span>, <span style="color:#3677a9">3</span>, <span style="color:#3677a9">1</span>, <span style="color:#3677a9">2</span>},
        </span></span><span style="display:flex;"><span>};
        </span></span></code></pre><p>and the number in the second slot is getting the index where we can find the specific vertex for that corner of the quad:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>Tables.Vertices[Tables.QuadVertices[<span style="color:#3677a9">0</span>, <span style="color:#3677a9">0</span>]];
        </span></span><span style="display:flex;"><span>Tables.Vertices[Tables.QuadVertices[<span style="color:#3677a9">0</span>, <span style="color:#3677a9">1</span>]];
        </span></span><span style="display:flex;"><span>Tables.Vertices[Tables.QuadVertices[<span style="color:#3677a9">0</span>, <span style="color:#3677a9">2</span>]];
        </span></span><span style="display:flex;"><span>Tables.Vertices[Tables.QuadVertices[<span style="color:#3677a9">0</span>, <span style="color:#3677a9">3</span>]];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic">// is getting...</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>QuadVertices {
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">1</span>, <span style="color:#3677a9">2</span>, <span style="color:#3677a9">5</span>, <span style="color:#3677a9">6</span>},
        </span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic">//   \__\__\__\___these</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">4</span>, <span style="color:#3677a9">7</span>, <span style="color:#3677a9">0</span>, <span style="color:#3677a9">3</span>},
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">3</span>, <span style="color:#3677a9">7</span>, <span style="color:#3677a9">2</span>, <span style="color:#3677a9">6</span>},
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">1</span>, <span style="color:#3677a9">5</span>, <span style="color:#3677a9">0</span>, <span style="color:#3677a9">4</span>}, 
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">5</span>, <span style="color:#3677a9">6</span>, <span style="color:#3677a9">4</span>, <span style="color:#3677a9">7</span>},
        </span></span><span style="display:flex;"><span>	{<span style="color:#3677a9">0</span>, <span style="color:#3677a9">3</span>, <span style="color:#3677a9">1</span>, <span style="color:#3677a9">2</span>},
        </span></span><span style="display:flex;"><span>};
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic">// which help us get...</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>Vertices = {
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>), <span style="color:#999;font-style:italic">// 0</span>
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>),  <span style="color:#999;font-style:italic">// 1 &lt;- this</span>
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>),   <span style="color:#999;font-style:italic">// 2 &lt;- this</span>
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>),  <span style="color:#999;font-style:italic">// 3</span>
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),  <span style="color:#999;font-style:italic">// 4</span>
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, -<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),   <span style="color:#999;font-style:italic">// 5 &lt;- this</span>
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),    <span style="color:#999;font-style:italic">// 6 &lt;- this</span>
        </span></span><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">new</span> Vector3(-<span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>, <span style="color:#3677a9">0.5f</span>),   <span style="color:#999;font-style:italic">// 7</span>
        </span></span><span style="display:flex;"><span>};
        </span></span></code></pre><p>Take a minute to make sure you understand how this is working.</p>
        <p>We do this process 6 times, once for each quad:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// for each side of the voxel</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">for</span> (<span style="color:#6ab825;font-weight:bold">int</span> side = <span style="color:#3677a9">0</span>; side &lt; quadsNum; side++)
        </span></span><span style="display:flex;"><span>        {
        </span></span><span style="display:flex;"><span>            <span style="color:#999;font-style:italic">// offset using currentVertex</span>
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">0</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">0</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">1</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">1</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">2</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">2</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">3</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">3</span>]];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>			<span style="color:#999;font-style:italic">// TODO triangles</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            vertexOffset += <span style="color:#3677a9">4</span>;
        </span></span><span style="display:flex;"><span>        }
        </span></span></code></pre><h2 id="triangles" style="cursor: pointer;">Triangles</h2>
        <p>The triangles are easy, since all the quads have been set up to use the exact same triangle numbers.</p>
        <p>Replace <code>TODO triangles</code> with the following code.</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>            <span style="color:#999;font-style:italic">// 0 1 2 2 1 3 &lt;- triangle numbers</span>
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">0</span>] = vertexOffset + <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">1</span>] = vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">2</span>] = vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">3</span>] = vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">4</span>] = vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">5</span>] = vertexOffset + <span style="color:#3677a9">3</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>			<span style="color:#999;font-style:italic">// TODO UV's</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            triangleOffset += <span style="color:#3677a9">6</span>;
        </span></span></code></pre><p>Now can click play and you should see a pink voxel being rendered!</p>
        <p><img src="/media/45/name/pink_voxel.png" alt="pink voxel"></p>
        <p>We offset into the triangles array using the <code>triangleOffset</code>:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>			triangles[triangleOffset + <span style="color:#3677a9">0</span>] =
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">1</span>] =
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">2</span>] =
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">3</span>] =
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">4</span>] =
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">5</span>] =
        </span></span></code></pre><p>... as well as offset the triangle numbers themselves so that they point to the correct vertex in the <code>vertices</code> array:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>            = vertexOffset + <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>            = vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>			= vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>			= vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>			= vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>			= vertexOffset + <span style="color:#3677a9">3</span>;
        </span></span></code></pre><h2 id="explaining-the-rest" style="cursor: pointer;">Explaining the rest</h2>
        <p>For reference the code in <code>Start</code> should now look like the following:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>	<span style="color:#6ab825;font-weight:bold">void</span> Start()
        </span></span><span style="display:flex;"><span>    {
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// number of quads in a voxel</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> quadsNum = <span style="color:#3677a9">6</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// vertices and triangles for a single voxel</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> vertices = <span style="color:#6ab825;font-weight:bold">new</span> Vector3[<span style="color:#3677a9">4</span> * quadsNum];
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> triangles = <span style="color:#6ab825;font-weight:bold">new</span> <span style="color:#6ab825;font-weight:bold">int</span>[<span style="color:#3677a9">6</span> * quadsNum];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">int</span> vertexOffset = <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">int</span> triangleOffset = <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#999;font-style:italic">// for each side of the voxel</span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">for</span> (<span style="color:#6ab825;font-weight:bold">int</span> side = <span style="color:#3677a9">0</span>; side &lt; quadsNum; side++)
        </span></span><span style="display:flex;"><span>        {
        </span></span><span style="display:flex;"><span>            <span style="color:#999;font-style:italic">// create mesh for quad on this side of the voxel</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            <span style="color:#999;font-style:italic">// offset using currentVertex</span>
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">0</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">0</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">1</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">1</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">2</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">2</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">3</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">3</span>]];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            <span style="color:#999;font-style:italic">// 0 1 2 2 1 3 &lt;- triangle numbers</span>
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">0</span>] = vertexOffset + <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">1</span>] = vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">2</span>] = vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">3</span>] = vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">4</span>] = vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">5</span>] = vertexOffset + <span style="color:#3677a9">3</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>			<span style="color:#999;font-style:italic">// TODO UV's</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            triangleOffset += <span style="color:#3677a9">6</span>;
        </span></span><span style="display:flex;"><span>            vertexOffset += <span style="color:#3677a9">4</span>;
        </span></span><span style="display:flex;"><span>        }
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> mesh = <span style="color:#6ab825;font-weight:bold">new</span> Mesh();
        </span></span><span style="display:flex;"><span>        mesh.vertices = vertices;
        </span></span><span style="display:flex;"><span>        mesh.triangles = triangles;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        mesh.RecalculateNormals();
        </span></span><span style="display:flex;"><span>        mesh.RecalculateBounds();
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> filter = gameObject.GetComponent&lt;MeshFilter&gt;();
        </span></span><span style="display:flex;"><span>        filter.mesh = mesh;
        </span></span><span style="display:flex;"><span>    }
        </span></span></code></pre><p>Now that we are creating 6 quads for our voxel we can focus on the code I haven't quite explained yet (but you probably figured out).</p>
        <p>We create a new mesh as usual, and then set its vertices and triangles to our <code>vertices</code> and <code>triangles</code> array:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>		<span style="color:#6ab825;font-weight:bold">var</span> mesh = <span style="color:#6ab825;font-weight:bold">new</span> Mesh();
        </span></span><span style="display:flex;"><span>        mesh.vertices = vertices;
        </span></span><span style="display:flex;"><span>        mesh.triangles = triangles;
        </span></span></code></pre><p>We then use the builtin <code>RecalculateNormals</code> method, as well as the <code>RecalculateBounds</code> method. We haven't seen <code>RecalculateBounds</code> before, but it lets the renderer know what area in 3D space the mesh is taking up, so it can do shadows and other rendering stuff correctly.</p>
        <h2 id="uvs" style="cursor: pointer;">UV's</h2>
        <p>The UV's are pretty straight forward.</p>
        <p>Edit the code in Start to the following:</p>
        <pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> quadsNum = <span style="color:#3677a9">6</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> vertices = <span style="color:#6ab825;font-weight:bold">new</span> Vector3[<span style="color:#3677a9">4</span> * quadsNum];
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> triangles = <span style="color:#6ab825;font-weight:bold">new</span> <span style="color:#6ab825;font-weight:bold">int</span>[<span style="color:#3677a9">6</span> * quadsNum];
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> uvs = <span style="color:#6ab825;font-weight:bold">new</span> Vector2[<span style="color:#3677a9">4</span> * quadsNum]; <span style="color:#999;font-style:italic">// added this</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">int</span> vertexOffset = <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">int</span> triangleOffset = <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">for</span> (<span style="color:#6ab825;font-weight:bold">int</span> side = <span style="color:#3677a9">0</span>; side &lt; quadsNum; side++)
        </span></span><span style="display:flex;"><span>        {
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">0</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">0</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">1</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">1</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">2</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">2</span>]];
        </span></span><span style="display:flex;"><span>            vertices[vertexOffset + <span style="color:#3677a9">3</span>] = Tables.Vertices[Tables.QuadVertices[side, <span style="color:#3677a9">3</span>]];
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">0</span>] = vertexOffset + <span style="color:#3677a9">0</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">1</span>] = vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">2</span>] = vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">3</span>] = vertexOffset + <span style="color:#3677a9">2</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">4</span>] = vertexOffset + <span style="color:#3677a9">1</span>;
        </span></span><span style="display:flex;"><span>            triangles[triangleOffset + <span style="color:#3677a9">5</span>] = vertexOffset + <span style="color:#3677a9">3</span>;
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            uvs[vertexOffset + <span style="color:#3677a9">0</span>] = <span style="color:#6ab825;font-weight:bold">new</span> Vector2(<span style="color:#3677a9">0</span>, <span style="color:#3677a9">0</span>); <span style="color:#999;font-style:italic">// added this</span>
        </span></span><span style="display:flex;"><span>            uvs[vertexOffset + <span style="color:#3677a9">1</span>] = <span style="color:#6ab825;font-weight:bold">new</span> Vector2(<span style="color:#3677a9">0</span>, <span style="color:#3677a9">1</span>); <span style="color:#999;font-style:italic">// added this</span>
        </span></span><span style="display:flex;"><span>            uvs[vertexOffset + <span style="color:#3677a9">2</span>] = <span style="color:#6ab825;font-weight:bold">new</span> Vector2(<span style="color:#3677a9">1</span>, <span style="color:#3677a9">0</span>); <span style="color:#999;font-style:italic">// added this</span>
        </span></span><span style="display:flex;"><span>            uvs[vertexOffset + <span style="color:#3677a9">3</span>] = <span style="color:#6ab825;font-weight:bold">new</span> Vector2(<span style="color:#3677a9">1</span>, <span style="color:#3677a9">1</span>); <span style="color:#999;font-style:italic">// added this</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>            triangleOffset += <span style="color:#3677a9">6</span>;
        </span></span><span style="display:flex;"><span>            vertexOffset += <span style="color:#3677a9">4</span>;
        </span></span><span style="display:flex;"><span>        }
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> mesh = <span style="color:#6ab825;font-weight:bold">new</span> Mesh();
        </span></span><span style="display:flex;"><span>        mesh.vertices = vertices;
        </span></span><span style="display:flex;"><span>        mesh.triangles = triangles;
        </span></span><span style="display:flex;"><span>        mesh.uv = uvs; <span style="color:#999;font-style:italic">// added this</span>
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        mesh.RecalculateNormals();
        </span></span><span style="display:flex;"><span>        mesh.RecalculateBounds();
        </span></span><span style="display:flex;"><span>
        </span></span><span style="display:flex;"><span>        <span style="color:#6ab825;font-weight:bold">var</span> filter = gameObject.GetComponent&lt;MeshFilter&gt;();
        </span></span><span style="display:flex;"><span>        filter.mesh = mesh;
        </span></span></code></pre><p>Per usuall we just insert the UV's and make sure to offset with <code>vertexOffset</code> so the UV's correspond with the correct vertex. Let me know in the course chat if you aren't able to understand this.</p>
        <p>If you drag the material onto the voxel and click play, you should see a fully textured voxel!</p>
        <p><img src="/media/45/name/uv_voxel.png" alt="uv voxel"></p>
    </div>

    <div style="position:fixed; bottom:5rem; left:0; right:0; transform:translate(-50%); margin-left:50%; width:100%; display:flex; flex-direction:row; justify-content:center;">
        <!-- arrow left -->
        <span style="width:3rem; height:3rem; margin-right:auto;"
        class="hoverable shadow bd-right bg-overlay">
            <i x-transition x-show="$store.view.state === 'course'" style="padding-top:1rem; padding-left:1.25rem;" class="fa-solid fa-angle-left"></i>
        </span>
        <!-- arrow right -->
        <span style="width:3rem; height:3rem; margin-left:auto;"
        class="hoverable shadow bd-left bg-overlay">
            <i x-transition x-show="$store.view.state === 'course'" style="padding-top:1rem; padding-left:1.25rem;" class="fa-solid fa-angle-right"></i>
        </span>
    </div>
</div>