{{ template "_header.html" . }}

<!-- so users can view and create posts -->
{{ template "post.html" . }}

<script defer>
    document.addEventListener("alpine:init", function(event) {
        Alpine.store("view", {
            state: "main",
        });
    });

    function viewMain() {
        Alpine.store("view").state = "main";
    }

    function viewPosts() {
        Alpine.store("view").state = "posts";
    }

    function viewChat() {
        Alpine.store("view").state = "chat";
    }
</script>

<style>

</style>

<div style="position:absolute; bottom:0; left:0; top:60.5625px; right:0;">

    <!-- views -->
    <div x-data style="width:100%; height:100%;">
        <div x-show="$store.view.state === 'main'" class="bg" style="position:absolute; width:100%; height:100%;">
            main
            <div>course</div>
            <div>menu</div>
        </div>

        <div x-show="$store.view.state === 'posts'" class="bg" style="position:absolute; width:100%; height:100%; z-index:1;">posts</div>
        <div x-show="$store.view.state === 'chat'" class="bg" style="position:absolute; width:100%; height:100%; z-index:2;">chat</div>
    </div>

    <!-- bottom navigation bar -->
    <div x-data style="width:100%; padding:0; font-size:1.2rem; z-index:5; position:fixed; bottom:1rem;">
        <div class="bd bg-overlay pad-05" style="transform:translate(-50%); margin-left:50%; width:20rem; display:flex; flex-direction:row; justify-content:center;">
            
            <!-- arrow left -->
            <span style="width:1.6rem; margin-right:0.5rem;"
            class="hoverable bd">
                <i style="padding-top:0.6rem; padding-left:0.5rem;" class="fa-solid fa-angle-left"></i>
            </span>

            <!-- course / menu -->
            <span title="Course View and Menu"
            @click="viewMain()"
            style="margin-right:auto;"
            class="hoverable pad-05 bd"
            :class="$store.view.state === 'main' ? 'hovered' : '' ">
                <!--
                    <i class="fa-solid fa-align-left"></i>
                    <i class="fa-solid fa-bars"></i>
                -->
                <i class="fa-solid fa-book-open"></i>
            </span>

            <!-- view posts -->
            <span title="Posts"
            @click="viewPosts()"
            class="hoverable pad-05 bd"
            :class="$store.view.state === 'posts' ? 'hovered' : '' ">
            <i style="padding-left:0.11rem; padding-right:0.11rem;" class="fa-solid fa-message"></i>
            </span>

            <!-- view chat -->
            <span title="Chat"
            @click="viewChat()"
            style="margin-left:auto;"
            class="hoverable pad-05 bd"
            :class="$store.view.state === 'chat' ? 'hovered' : '' ">
            <i class="fa-solid fa-comments"></i>
            </span>

            <!-- arrow right -->
            <span style="width:1.6rem; margin-left:0.5rem;"
            class="hoverable bd">
                <i style="padding-top:0.6rem; padding-left:0.5rem;" class="fa-solid fa-angle-right"></i>
            </span>
        </div>
    </div>
</div>

<script defer src="/resources/alpinejs@3.x.x/cdn.min.js"></script>